package ${package}.service;

import ${package}.entity.${className};



/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends ICommonService<${className},${pk.attrType}>{
	
}
