package ${package}.service.impl;


import ${package}.dao.ICommonDao;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;


import ${package}.dao.${className}Dao;
import ${package}.entity.${className};
import ${package}.service.${className}Service;



@Service
public class ${className}ServiceImpl extends AbsCommonService<${className},${pk.attrType}> implements ${className}Service {

    @Autowired
	private ${className}Dao ${classname}Dao;



    @Override
    public ICommonDao<${className}, ${pk.attrType}> getDao() {
        return ${classname}Dao;
    }
	
}
