<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.AdviceDao">
    <resultMap id="AdviceResultMap" type="com.fulu.game.core.entity.Advice">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="contact" property="contact"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="admin_id" property="adminId"/>
        <result column="admin_name" property="adminName"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="AdviceResultVOMap" type="com.fulu.game.core.entity.vo.AdviceVO" extends="AdviceResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,nickname,contact,content,status,admin_id,admin_name,remark,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="AdviceResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_advice
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="AdviceResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_advice
    </select>

    <select id="findByParameter" resultMap="AdviceResultMap" parameterType="com.fulu.game.core.entity.vo.AdviceVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_advice
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="nickname != null">
                and nickname = #{nickname}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_advice
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.Advice">
        insert into
        t_advice (user_id,nickname,contact,content,status,admin_id,admin_name,remark,create_time,update_time)
        values
        (#{userId},#{nickname},#{contact},#{content},#{status},#{adminId},#{adminName},#{remark},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.Advice">
        update t_advice
        <set>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="nickname != null">
                nickname = #{nickname},
            </if>

            <if test="contact != null">
                contact = #{contact},
            </if>

            <if test="content != null">
                content = #{content},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="adminId != null">
                admin_id = #{adminId},
            </if>

            <if test="adminName != null">
                admin_name = #{adminName},
            </if>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>