<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.ArbitrationDetailsDao">
    <resultMap id="ArbitrationDetailsResultMap" type="com.fulu.game.core.entity.ArbitrationDetails">
                                    <id column="id"  property="id" />
                                            <result column="order_no"  property="orderNo" />
                                            <result column="user_id"  property="userId" />
                                            <result column="service_user_id"  property="serviceUserId" />
                                            <result column="refund_user_money"  property="refundUserMoney" />
                                            <result column="refund_service_user_money"  property="refundServiceUserMoney" />
                                            <result column="commission_money"  property="commissionMoney" />
                                            <result column="remark"  property="remark" />
                                            <result column="update_time"  property="updateTime" />
                                            <result column="create_time"  property="createTime" />
                        </resultMap>

    <resultMap id="ArbitrationDetailsResultVOMap" type="com.fulu.game.core.entity.vo.ArbitrationDetailsVO" extends="ArbitrationDetailsResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,user_id,service_user_id,refund_user_money,refund_service_user_money,commission_money,remark,update_time,create_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="ArbitrationDetailsResultMap">
        select
        <include refid="Base_Column_List" />
        from t_arbitration_details
        <where>
        id = #{id}
        </where>
    </select>

    <select id="findAll"  resultMap="ArbitrationDetailsResultMap">
        select
        <include refid="Base_Column_List" />
        from t_arbitration_details
    </select>

    <select id="findByParameter" resultMap="ArbitrationDetailsResultMap" parameterType="com.fulu.game.core.entity.vo.ArbitrationDetailsVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_arbitration_details
        <where>
                                                                            <if test="orderNo != null">
                       and order_no = #{orderNo}
                    </if>
                                                                <if test="userId != null">
                       and user_id = #{userId}
                    </if>
                                                                <if test="serviceUserId != null">
                       and service_user_id = #{serviceUserId}
                    </if>
                                                                <if test="refundUserMoney != null">
                       and refund_user_money = #{refundUserMoney}
                    </if>
                                                                <if test="refundServiceUserMoney != null">
                       and refund_service_user_money = #{refundServiceUserMoney}
                    </if>
                                                                <if test="commissionMoney != null">
                       and commission_money = #{commissionMoney}
                    </if>
                                                                <if test="remark != null">
                       and remark = #{remark}
                    </if>
                                                                <if test="updateTime != null">
                       and update_time = #{updateTime}
                    </if>
                                                                <if test="createTime != null">
                       and create_time = #{createTime}
                    </if>
                                    </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_arbitration_details
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.ArbitrationDetails">
        insert into
        t_arbitration_details (order_no,user_id,service_user_id,refund_user_money,refund_service_user_money,commission_money,remark,update_time,create_time)
        values
        (#{orderNo},#{userId},#{serviceUserId},#{refundUserMoney},#{refundServiceUserMoney},#{commissionMoney},#{remark},#{updateTime},#{createTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.ArbitrationDetails">
        update t_arbitration_details
        <set>
                                                        
                    <if test="orderNo != null">
                        order_no = #{orderNo},
                    </if>
                                            
                    <if test="userId != null">
                        user_id = #{userId},
                    </if>
                                            
                    <if test="serviceUserId != null">
                        service_user_id = #{serviceUserId},
                    </if>
                                            
                    <if test="refundUserMoney != null">
                        refund_user_money = #{refundUserMoney},
                    </if>
                                            
                    <if test="refundServiceUserMoney != null">
                        refund_service_user_money = #{refundServiceUserMoney},
                    </if>
                                            
                    <if test="commissionMoney != null">
                        commission_money = #{commissionMoney},
                    </if>
                                            
                    <if test="remark != null">
                        remark = #{remark},
                    </if>
                                            
                    <if test="updateTime != null">
                        update_time = #{updateTime},
                    </if>
                                            
                    <if test="createTime != null">
                        create_time = #{createTime},
                    </if>
                                    </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>