<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.CategoryDao">
    <resultMap id="CategoryResultMap" type="com.fulu.game.core.entity.Category">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="icon" property="icon"/>
        <result column="index_icon" property="indexIcon"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="charges" property="charges"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,pid,icon,index_icon,name,status,sort,charges,create_time,update_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="CategoryResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_category
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="CategoryResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_category
    </select>

    <select id="findByParameter" resultMap="CategoryResultMap" parameterType="com.fulu.game.core.entity.vo.CategoryVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_category
        <where>
            <if test="pid != null">
                and pid = #{pid}
            </if>
            <if test="icon != null">
                and icon = #{icon}
            </if>
            <if test="indexIcon != null">
                and index_icon = #{indexIcon}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="charges != null">
                and charges = #{charges}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_category
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.Category">
        insert into
        t_category (pid,icon,index_icon,name,status,sort,charges,create_time,update_time)
        values
        (#{pid},#{icon},#{indexIcon},#{name},#{status},#{sort},#{charges},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.Category">
        update t_category
        <set>

            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="indexIcon != null">
                index_icon = #{indexIcon},
            </if>
            <if test="name != null">
                name = #{name},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="sort != null">
                sort = #{sort},
            </if>

            <if test="charges != null">
                charges = #{charges},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>