<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.ChannelCashDetailsDao">
    <resultMap id="ChannelCashDetailsResultMap" type="com.fulu.game.core.entity.ChannelCashDetails">
        <id column="id" property="id"/>
        <result column="admin_id" property="adminId"/>
        <result column="admin_name" property="adminName"/>
        <result column="channel_id" property="channelId"/>
        <result column="action" property="action"/>
        <result column="money" property="money"/>
        <result column="sum" property="sum"/>
        <result column="order_no" property="orderNo"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="ChannelCashDetailsResultVOMap" type="com.fulu.game.core.entity.vo.ChannelCashDetailsVO"
               extends="ChannelCashDetailsResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,admin_name,channel_id,action,money,sum,order_no,remark,create_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="ChannelCashDetailsResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_channel_cash_details
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="ChannelCashDetailsResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_channel_cash_details
    </select>

    <select id="findByParameter" resultMap="ChannelCashDetailsResultMap"
            parameterType="com.fulu.game.core.entity.vo.ChannelCashDetailsVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_channel_cash_details
        <where>
            <if test="adminId != null">
                and admin_id = #{adminId}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
            <if test="action != null">
                and action = #{action}
            </if>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_channel_cash_details
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.fulu.game.core.entity.ChannelCashDetails">
        insert into
        t_channel_cash_details (admin_id,admin_name,channel_id,action,money,sum,order_no,remark,create_time)
        values
        (#{adminId},#{adminName},#{channelId},#{action},#{money},#{sum},#{orderNo},#{remark},#{createTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.ChannelCashDetails">
        update t_channel_cash_details
        <set>

            <if test="adminId != null">
                admin_id = #{adminId},
            </if>

            <if test="adminName != null">
                admin_name = #{adminName},
            </if>

            <if test="channelId != null">
                channel_id = #{channelId},
            </if>

            <if test="action != null">
                action = #{action},
            </if>

            <if test="money != null">
                money = #{money},
            </if>

            <if test="sum != null">
                sum = #{sum},
            </if>

            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>