<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.DynamicLikeDao">
    <resultMap id="DynamicLikeResultMap" type="com.fulu.game.core.entity.DynamicLike">
        <id column="id" property="id"/>
        <result column="dynamic_id" property="dynamicId"/>
        <result column="from_user_id" property="fromUserId"/>
        <result column="from_user_head_url" property="fromUserHeadUrl"/>
        <result column="from_user_nickname" property="fromUserNickname"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="DynamicLikeResultVOMap" type="com.fulu.game.core.entity.vo.DynamicLikeVO"
               extends="DynamicLikeResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,dynamic_id,from_user_id,from_user_head_url,from_user_nickname,create_time,status    </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="DynamicLikeResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_dynamic_like
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="DynamicLikeResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_dynamic_like
    </select>

    <select id="findByParameter" resultType="com.fulu.game.core.entity.DynamicLike"
            parameterType="com.fulu.game.core.entity.vo.DynamicLikeVO">
        SELECT
          dynamicLike.*,tuser.age,tuser.gender as fromUserGender
        FROM t_dynamic_like dynamicLike
        LEFT JOIN t_user tuser
        ON dynamicLike.from_user_id = tuser.id
        <where>
            <if test="dynamicId != null">
                and dynamicLike.dynamic_id = #{dynamicId}
            </if>
            <if test="fromUserId != null">
                and dynamicLike.from_user_id = #{fromUserId}
            </if>
            <if test="fromUserHeadUrl != null">
                and dynamicLike.from_user_head_url = #{fromUserHeadUrl}
            </if>
            <if test="fromUserNickname != null">
                and dynamicLike.from_user_nickname = #{fromUserNickname}
            </if>
            <if test="createTime != null">
                and dynamicLike.create_time = #{createTime}
            </if>
            <if test="status != null">
                and dynamicLike.status = #{status}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from t_dynamic_like
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.DynamicLike">
        insert into
        t_dynamic_like (dynamic_id,from_user_id,from_user_head_url,from_user_nickname,create_time,status)
        values
        (#{dynamicId},#{fromUserId},#{fromUserHeadUrl},#{fromUserNickname},#{createTime},#{status})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.DynamicLike">
        update t_dynamic_like
        <set>

            <if test="dynamicId != null">
                dynamic_id = #{dynamicId},
            </if>

            <if test="fromUserId != null">
                from_user_id = #{fromUserId},
            </if>

            <if test="fromUserHeadUrl != null">
                from_user_head_url = #{fromUserHeadUrl},
            </if>

            <if test="fromUserNickname != null">
                from_user_nickname = #{fromUserNickname},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="status != null">
                status = #{status},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>