<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.FenqileOrderDao">
    <resultMap id="FenqileOrderResultMap" type="com.fulu.game.core.entity.FenqileOrder">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="payment_no" property="paymentNo"/>
        <result column="remark" property="remark"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="FenqileOrderResultVOMap" type="com.fulu.game.core.entity.vo.FenqileOrderVO"
               extends="FenqileOrderResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,payment_no,remark,update_time,create_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="FenqileOrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_fenqile_order
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="FenqileOrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_fenqile_order
    </select>

    <select id="findByParameter" resultMap="FenqileOrderResultMap"
            parameterType="com.fulu.game.core.entity.vo.FenqileOrderVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_fenqile_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="paymentNo != null">
                and payment_no = #{paymentNo}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_fenqile_order
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.FenqileOrder">
        insert into
        t_fenqile_order (order_no,payment_no,remark,update_time,create_time)
        values
        (#{orderNo},#{paymentNo},#{remark},#{updateTime},#{createTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.FenqileOrder">
        update t_fenqile_order
        <set>

            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>

            <if test="paymentNo != null">
                payment_no = #{paymentNo},
            </if>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="list" resultType="com.fulu.game.core.entity.vo.FenqileOrderVO">
        SELECT
        tfo.id,
        tor.order_no,
        tfo.payment_no,
        tuser.nickname AS user_nickname,
        tor.contact_type,
        tor.contact_info,
        tuser.mobile AS user_mobile,
        suser.nickname AS service_user_nickname,
        suser.mobile AS service_user_mobile,
        tor.`status` AS order_status,
        tor. NAME AS product_name,
        tpro.unit,
        tpro.price,
        tpro.amount,
        IFNULL(tor.coupon_money, 0) AS coupon_money,
        tor.actual_money,
        tor.total_money,
        tosp.server_money,
        tosp.commission_money,
        tor.create_time,
        tfr.amount AS recon_amount,
        tfr.commission_money AS fenqile_commission_money,
        tfr.`status` AS recon_status,
        tfr.process_time,
        tfr.admin_name
        FROM
        t_fenqile_order tfo
        LEFT JOIN t_order tor ON tor.order_no = tfo.order_no
        LEFT JOIN t_user tuser ON tor.user_id = tuser.id
        LEFT JOIN t_user suser ON tor.service_user_id = suser.id
        LEFT JOIN t_order_product tpro ON tor.order_no = tpro.order_no
        LEFT JOIN t_fenqile_reconciliation tfr ON tor.order_no = tfr.order_no
        LEFT JOIN t_order_share_profit tosp ON tor.order_no = tosp.order_no
        <where>
            <if test="startTime != null">
                AND tor.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND tor.create_time &lt;= #{endTime}
            </if>
            <if test="orderNo != null">
                AND tor.order_no = #{orderNo}
            </if>
            <if test="categoryId != null">
                AND tor.category_id = #{categoryId}
            </if>
            <if test="paymentNo != null">
                AND tfo.payment_no = #{paymentNo}
            </if>
            <if test="reconStatus != null">
                AND tfr.`status` = #{reconStatus}
            </if>
            <if test="userId != null">
                AND tor.user_id = #{userId}
            </if>
            <if test="serviceUserId != null">
                AND tor.service_user_id = #{serviceUserId}
            </if>
            <if test="userMobile != null">
                AND tuser.mobile = #{userMobile}
            </if>
            <if test="serviceUserMobile != null">
                AND suser.mobile = #{serviceUserMobile}
            </if>
            <if test="statusList != null">
                AND tor.status IN
                <foreach collection="statusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getTotalReconAmount" resultType="com.fulu.game.core.entity.vo.FenqileOrderVO">
        SELECT
        count(
        IF (tfr.`status` = 0, TRUE, NULL)
        ) AS un_recon_count,
        sum(
        IF (tfr.`status` = 0, amount, 0)
        ) AS un_recon_total_amount,
        sum(amount) AS total_amount
        FROM
        t_fenqile_reconciliation tfr
        LEFT JOIN `t_order` tor ON tfr.`order_no` = tor.`order_no`
        WHERE
        tor.`type` = 3
        <if test="startTime != null">
            AND tor.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND tor.create_time &lt;= #{endTime}
        </if>
        <if test="orderNo != null">
            AND tor.order_no = #{orderNo}
        </if>
        <if test="categoryId != null">
            AND tor.category_id = #{categoryId}
        </if>
        <if test="paymentNo != null">
            AND tfo.payment_no = #{paymentNo}
        </if>
        <if test="reconStatus != null">
            AND tfr.`status` = #{reconStatus}
        </if>
        <if test="userId != null">
            AND tor.user_id = #{userId}
        </if>
        <if test="serviceUserId != null">
            AND tor.service_user_id = #{serviceUserId}
        </if>
        <if test="userMobile != null">
            AND tuser.mobile = #{userMobile}
        </if>
        <if test="serviceUserMobile != null">
            AND suser.mobile = #{serviceUserMobile}
        </if>
        <if test="statusList != null">
            AND tor.status IN
            <foreach collection="statusList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>