<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.GiftConfigDao">
    <resultMap id="GiftConfigResultMap" type="com.fulu.game.core.entity.GiftConfig">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="sort" property="sort"/>
        <result column="url" property="url"/>
        <result column="type" property="type"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="remark" property="remark"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="GiftConfigResultVOMap" type="com.fulu.game.core.entity.vo.GiftConfigVO"
               extends="GiftConfigResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,name,price,sort,url,type,operator_id,operator_name,remark,update_time,create_time,status    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="GiftConfigResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_gift_config
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="GiftConfigResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_gift_config
    </select>

    <select id="findByParameter" resultMap="GiftConfigResultMap"
            parameterType="com.fulu.game.core.entity.vo.GiftConfigVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_gift_config
        <where>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="url != null">
                and url = #{url}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="operatorId != null">
                and operator_id = #{operatorId}
            </if>
            <if test="operatorName != null">
                and operator_name = #{operatorName}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_gift_config
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.GiftConfig">
        insert into
        t_gift_config (name,price,sort,url,type,operator_id,operator_name,remark,update_time,create_time,status)
        values
        (#{name},#{price},#{sort},#{url},#{type},#{operatorId},#{operatorName},#{remark},#{updateTime},#{createTime},#{status})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.GiftConfig">
        update t_gift_config
        <set>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="price != null">
                price = #{price},
            </if>

            <if test="sort != null">
                sort = #{sort},
            </if>

            <if test="url != null">
                url = #{url},
            </if>

            <if test="type != null">
                type = #{type},
            </if>

            <if test="operatorId != null">
                operator_id = #{operatorId},
            </if>

            <if test="operatorName != null">
                operator_name = #{operatorName},
            </if>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="status != null">
                status = #{status},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>