<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.MemberDao">
    <resultMap id="MemberResultMap" type="com.fulu.game.core.entity.Member">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,name,username,password,salt,status,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="MemberResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_member
        <where>
            id = #{id}
        </where>
    </select>
    
    <select id="findByParameter" resultMap="MemberResultMap" parameterType="com.fulu.game.core.entity.vo.MemberVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_member
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test=" username!= null">
                username = #{username}
            </if>
        </where>
    </select>
    

    <select id="findAll" resultMap="MemberResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_member
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_member
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.Member">
        insert into
        t_member (name,username,password,salt,status,create_time,update_time)
        values
        (#{name},#{username},#{password},#{salt},#{status},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.Member">
        update t_member
        <set>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="username != null">
                username = #{username},
            </if>

            <if test="password != null">
                password = #{password},
            </if>

            <if test="salt != null">
                salt = #{salt},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>