<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.OfficialNoticeDao">
    <resultMap id="OfficialNoticeResultMap" type="com.fulu.game.core.entity.OfficialNotice">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="url" property="url"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="OfficialNoticeResultVOMap" type="com.fulu.game.core.entity.vo.OfficialNoticeVO"
               extends="OfficialNoticeResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,url,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="OfficialNoticeResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_official_notice
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="OfficialNoticeResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_official_notice
    </select>

    <select id="findByParameter" resultMap="OfficialNoticeResultMap"
            parameterType="com.fulu.game.core.entity.vo.OfficialNoticeVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_official_notice
        <where>
            <if test="title != null">
                and title = #{title}
            </if>
            <if test="content != null">
                and content = #{content}
            </if>
            <if test="url != null">
                and url = #{url}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_official_notice
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.fulu.game.core.entity.OfficialNotice">
        insert into
        t_official_notice (title,content,url,create_time,update_time)
        values
        (#{title},#{content},#{url},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.OfficialNotice">
        update t_official_notice
        <set>

            <if test="title != null">
                title = #{title},
            </if>

            <if test="content != null">
                content = #{content},
            </if>

            <if test="url != null">
                url = #{url},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>