<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.OrderDao">
    <resultMap id="OrderResultMap" type="com.fulu.game.core.entity.Order">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="coupon_no" property="couponNo"/>
        <result column="category_id" property="categoryId"/>
        <result column="user_id" property="userId"/>
        <result column="service_user_id" property="serviceUserId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="channel_id" property="channelId"/>
        <result column="remark" property="remark"/>
        <result column="is_pay" property="isPay"/>
        <result column="is_pay_callback" property="isPayCallback"/>
        <result column="payment" property="payment"/>
        <result column="status" property="status"/>
        <result column="contact_type" property="contactType"/>
        <result column="contact_info" property="contactInfo"/>
        <result column="commission_money" property="commissionMoney"/>
        <result column="total_money" property="totalMoney"/>
        <result column="actual_money" property="actualMoney"/>
        <result column="server_money" property="serverMoney"/>
        <result column="coupon_money" property="couponMoney"/>
        <result column="charges" property="charges"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="pay_time" property="payTime"/>
        <result column="complete_time" property="completeTime"/>
        <result column="order_ip" property="orderIp"/>
        <result column="receiving_time" property="receivingTime"/>
    </resultMap>

    <resultMap id="OrderResultVOMap" type="com.fulu.game.core.entity.vo.OrderVO" extends="OrderResultMap">
    </resultMap>

    <resultMap id="OrderResultMarketVOMap" type="com.fulu.game.core.entity.vo.MarketOrderVO" extends="OrderResultMap">
    </resultMap>

    <resultMap id="OrderResVOMap" type="com.fulu.game.core.entity.vo.responseVO.OrderResVO" extends="OrderResultMap">
    </resultMap>

    <resultMap id="OrderDetailsVOMap" type="com.fulu.game.core.entity.vo.OrderDetailsVO" extends="OrderResultMap">
        <result column="userNickName" property="userNickName"/>
        <result column="serverNickName" property="serverNickName"/>
        <result column="userHeadUrl" property="userHeadUrl"/>
        <result column="serverHeadUrl" property="serverHeadUrl"/>
        <result column="categoryName" property="categoryName"/>
    </resultMap>

    <resultMap id="PointOrderDetailsVOMap" type="com.fulu.game.core.entity.vo.PointOrderDetailsVO"
               extends="OrderResultMap">
        <result column="userNickName" property="userNickName"/>
        <result column="userHeadUrl" property="userHeadUrl"/>
        <result column="accountInfo" property="accountInfo"/>
        <result column="orderChoice" property="orderChoice"/>
        <result column="categoryIcon" property="categoryIcon"/>
        <result column="categoryName" property="categoryName"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,order_no,coupon_no,category_id,user_id,service_user_id,name,type,channel_id,remark,is_pay,commission_money,is_pay_callback,payment,status,contact_type,contact_info,total_money,actual_money,server_money,coupon_money,charges,create_time,update_time,pay_time,complete_time,order_ip,receiving_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="OrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        <where>
            id = #{id}
        </where>
    </select>


    <select id="findByOrderNo" parameterType="java.lang.String" resultMap="OrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        <where>
            order_no = #{orderNo} for update
        </where>
    </select>

    <select id="findAll" resultMap="OrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
    </select>


    <select id="receivingPointOrderList" resultMap="PointOrderDetailsVOMap">
        SELECT
        o.*,
        cu.nickname AS userNickName,
        cu.head_portraits_url AS userHeadUrl,
        op.account_info AS accountInfo,
        op.order_choice AS orderChoice,
        op.category_name as categoryName,
        op.category_icon as categoryIcon
        FROM
        t_order o
        LEFT JOIN t_user cu ON o.user_id = cu.id
        LEFT JOIN t_order_point_product op ON o.order_no = op.order_no
        <where>
            o.type = 2
            <if test="statusList != null">
                and o.status in
                <foreach collection="statusList" item="s" index="index" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
        </where>
    </select>


    <select id="pointOrderList" resultMap="PointOrderDetailsVOMap">
        SELECT
        o.*,
        cu.nickname AS userNickName,
        cu.head_portraits_url AS userHeadUrl,
        pu.nickname AS serverNickName,
        pu.head_portraits_url AS serverHeadUrl,
        op.account_info AS accountInfo,
        op.order_choice AS orderChoice,
        op.category_name as categoryName,
        op.category_icon as categoryIcon
        FROM
        t_order o
        LEFT JOIN t_user cu ON o.user_id = cu.id
        LEFT JOIN t_user pu ON o.service_user_id = pu.id
        LEFT JOIN t_order_point_product op ON o.order_no = op.order_no
        <where>
            o.type = 2
            <if test="type == null">
                and ((o.user_id = #{userId}) OR ( o.service_user_id = #{userId} AND o.`status` NOT IN (100) ))
            </if>
            <if test="type == 1">
                and o.user_id = #{userId}
            </if>
            <if test="type == 2">
                and o.service_user_id = #{userId} AND o.`status` NOT IN (100)
            </if>
        </where>
    </select>


    <select id="listOrderDetails" resultMap="OrderDetailsVOMap">
        SELECT
        o.*,
        cu.nickname AS userNickName,
        pu.nickname AS serverNickName,
        cu.head_portraits_url AS userHeadUrl,
        pu.head_portraits_url AS serverHeadUrl,
        op.product_id as productId
        FROM
        t_order o
        LEFT JOIN t_user cu ON o.user_id = cu.id
        LEFT JOIN t_user pu ON o.service_user_id = pu.id
        LEFT JOIN t_order_product op ON o.order_no = op.order_no
        <where>
            o.type = 1
            <if test="type == null">
                and ((o.user_id = #{userId}) OR ( o.service_user_id = #{userId} AND o.`status` NOT IN (100,200) ))
            </if>
            <if test="type == 1">
                and o.user_id = #{userId}
            </if>
            <if test="type == 2">
                and o.service_user_id = #{userId} AND o.`status` NOT IN (100,200)
            </if>
        </where>
    </select>

    <select id="fenqileOrderList" resultMap="OrderDetailsVOMap">
        SELECT
            o.*, cu.nickname AS userNickName,
            pu.nickname AS serverNickName,
            cu.head_portraits_url AS userHeadUrl,
            pu.head_portraits_url AS serverHeadUrl,
            op.product_id AS productId
        FROM
            t_order o
        LEFT JOIN t_user cu ON o.user_id = cu.id
        LEFT JOIN t_user pu ON o.service_user_id = pu.id
        LEFT JOIN t_order_product op ON o.order_no = op.order_no
        WHERE
            o.type = 3 and o.user_id = #{userId}
    </select>

    <select id="countByParameter" resultType="java.lang.Integer" parameterType="com.fulu.game.core.entity.vo.OrderVO">
        SELECT
        count(1)
        FROM t_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="serviceUserId != null">
                and service_user_id = #{serviceUserId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
            <if test="isPay != null">
                and is_pay = #{isPay}
            </if>
            <if test="isPayCallback != null">
                and is_pay_callback = #{isPayCallback}
            </if>
            <if test="payment != null">
                and payment = #{payment}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="statusList != null">
                and status in
                <foreach collection="statusList" item="s" index="index" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="orderIp != null">
                and order_ip = #{orderIp}
            </if>
            <if test="receivingTime != null">
                and receiving_time = #{receivingTime}
            </if>
        </where>
    </select>


    <select id="findByParameter" resultMap="OrderResultMap" parameterType="com.fulu.game.core.entity.vo.OrderVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="serviceUserId != null">
                and service_user_id = #{serviceUserId}
            </if>
            <if test="commissionMoney != null">
                and commission_money = #{commissionMoney}
            </if>
            <if test="serverMoney != null">
                and server_money = #{serverMoney}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
            <if test="isPay != null">
                and is_pay = #{isPay}
            </if>
            <if test="isPayCallback != null">
                and is_pay_callback = #{isPayCallback}
            </if>
            <if test="payment != null">
                and payment = #{payment}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="contactType != null">
                and contact_type = #{contactType}
            </if>
            <if test="contactInfo != null">
                and contact_info = #{contactInfo}
            </if>
            <if test="statusList != null">
                and status in
                <foreach collection="statusList" item="s" index="index" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="orderIp != null">
                and order_ip = #{orderIp}
            </if>
            <if test="receivingTime != null">
                and receiving_time = #{receivingTime}
            </if>
        </where>
    </select>

    <select id="findVOByParameter" resultMap="OrderResultVOMap" parameterType="com.fulu.game.core.entity.vo.OrderVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="serviceUserId != null">
                and service_user_id = #{serviceUserId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
            <if test="isPay != null">
                and is_pay = #{isPay}
            </if>
            <if test="isPayCallback != null">
                and is_pay_callback = #{isPayCallback}
            </if>
            <if test="payment != null">
                and payment = #{payment}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="statusList != null">
                and status in
                <foreach collection="statusList" item="s" index="index" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
            <if test="orderIp != null">
                and order_ip = #{orderIp}
            </if>
            <if test="receivingTime != null">
                and receiving_time = #{receivingTime}
            </if>
        </where>
    </select>

    <select id="list" resultMap="OrderResVOMap" parameterType="com.fulu.game.core.entity.vo.searchVO.OrderSearchVO">
        SELECT
        t1.* , 
        t2.agent_admin_id as agentAdminId,
        t2.agent_admin_name as agentAdminName,
        t2.remark as proRemark
        FROM t_order t1 LEFT JOIN t_order_admin_remark t2 ON t2.order_id = t1.id
        <where>
            <if test="type != null">
                and t1.type = #{type}
            </if>
            <if test="categoryId != null">
                and t1.category_id = #{categoryId}
            </if>
            <if test="orderNo != null">
                and t1.order_no = #{orderNo}
            </if>
            <if test="channelId != null">
                and t1.channel_id = #{channelId}
            </if>
            <if test="userId != null">
                and t1.user_id = #{userId}
            </if>

            <if test="serviceUserId != null">
                and t1.service_user_id = #{serviceUserId}
            </if>
            <if test="startTime != null">
                and t1.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and t1.create_time &lt;= #{endTime}
            </if>
            <if test="gtInterval != null">
                and TIMESTAMPDIFF(SECOND,t1.create_time,t1.receiving_time) &gt;= #{gtInterval}
            </if>
            <if test="ltInterval != null">
                and TIMESTAMPDIFF(SECOND,t1.create_time,t1.receiving_time) &lt;= #{ltInterval}
            </if>
            <if test="statusList != null">
                and t1.status in
                <foreach collection="statusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findBySearchVO" resultMap="OrderResultMap"
            parameterType="com.fulu.game.core.entity.vo.searchVO.OrderSearchVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_order
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="serviceUserId != null">
                and service_user_id = #{serviceUserId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="gtInterval != null">
                and TIMESTAMPDIFF(SECOND,create_time,receiving_time) &gt;= #{gtInterval}
            </if>
            <if test="ltInterval != null">
                and TIMESTAMPDIFF(SECOND,create_time,receiving_time) &lt;= #{ltInterval}
            </if>
            <if test="statusList != null">
                and status in
                <foreach collection="statusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="unacceptOrderList" resultType="com.fulu.game.core.entity.Order"
            parameterType="com.fulu.game.core.entity.vo.searchVO.OrderSearchVO">
        SELECT
        tor.*
        FROM
        t_order tor
        LEFT JOIN t_user tu ON tor.user_id = tu.id
        <where>
            tor.type = 2 and tor.status = 210
            <if test="userId != null">
                and tor.user_id = #{userId}
            </if>
            <if test="serviceUserId != null">
                and tor.service_user_id = #{serviceUserId}
            </if>
            <if test="userMobile != null">
                and tu.mobile = #{userMobile} and tu.type = 1
            </if>
            <if test="serviceUserMobile != null">
                and tu.mobile = #{serviceUserMobile} and tu.type = 2
            </if>
            <if test="type != null">
                and tor.type = #{type}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_order
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.Order">
        insert into
        t_order (order_no,coupon_no,category_id,user_id,service_user_id,name,type,channel_id,remark,is_pay,is_pay_callback,payment,status,contact_type,contact_info,commission_money,total_money,actual_money,server_money,coupon_money,charges,create_time,update_time,pay_time,complete_time,order_ip,receiving_time)
        values
        (#{orderNo},#{couponNo},#{categoryId},#{userId},#{serviceUserId},#{name},#{type},#{channelId},#{remark},#{isPay},#{isPayCallback},#{payment},#{status},#{contactType},#{contactInfo},#{commissionMoney},#{totalMoney},#{actualMoney},#{serverMoney},#{couponMoney},#{charges},#{createTime},#{updateTime},#{payTime},#{completeTime},#{orderIp},#{receivingTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.Order">
        update t_order
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="couponNo != null">
                coupon_no = #{couponNo},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="serviceUserId != null">
                service_user_id = #{serviceUserId},
            </if>

            <if test="name != null">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="channelId != null">
                channel_id = #{channelId},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="isPay != null">
                is_pay = #{isPay},
            </if>
            <if test="isPayCallback != null">
                is_pay_callback = #{isPayCallback},
            </if>
            <if test="payment != null">
                payment = #{payment},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="contactType != null">
                contact_type = #{contactType},
            </if>
            <if test="contactInfo != null">
                contact_info = #{contactInfo},
            </if>
            <if test="commissionMoney != null">
                commission_money = #{commissionMoney},
            </if>
            <if test="totalMoney != null">
                total_money = #{totalMoney},
            </if>
            <if test="actualMoney != null">
                actual_money = #{actualMoney},
            </if>
            <if test="serverMoney != null">
                server_money = #{serverMoney},
            </if>
            <if test="couponMoney != null">
                coupon_money = #{couponMoney},
            </if>
            <if test="charges != null">
                charges = #{charges},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime},
            </if>
            <if test="completeTime != null">
                complete_time = #{completeTime},
            </if>
            <if test="orderIp != null">
                order_ip = #{orderIp},
            </if>
            <if test="receivingTime != null">
                receiving_time = #{receivingTime}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findDayReconOrders" resultType="com.fulu.game.core.entity.Order">
        SELECT
        *
        FROM
        t_order
        WHERE
        type = 3
        and status in
        <foreach collection="statusList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND DATE_FORMAT(complete_time, '%Y-%m-%d') = CURDATE()
        OR DATE_FORMAT(complete_time, '%Y-%m-%d') = date_sub(curdate(), INTERVAL 1 DAY);
    </select>


    <select id="getBannerOrderList" resultMap="OrderDetailsVOMap">
        SELECT
        o.*,
        c.name as categoryName
        FROM
        t_order o
        INNER JOIN t_category c on c.id = o.category_id
        where
            o.type = 1 and o.service_user_id = #{authUserId} and o.user_id = #{bossUserId} 
            <if test="statusList != null">
                and o.status in
                <foreach collection="statusList" item="s" index="index" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
    </select>
    
    
</mapper>