<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.OrderDao">
    <resultMap id="OrderResultMap" type="com.fulu.game.core.entity.Order">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="coupon_no" property="couponNo"/>
        <result column="category_id" property="categoryId"/>
        <result column="user_id" property="userId"/>
        <result column="service_user_id" property="serviceUserId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="channelId" property="channel_id"/>
        <result column="remark" property="remark"/>
        <result column="is_pay" property="isPay"/>
        <result column="status" property="status"/>
        <result column="commission_money" property="commissionMoney"/>
        <result column="total_money" property="totalMoney"/>
        <result column="actual_money" property="actualMoney"/>
        <result column="coupon_money" property="couponMoney"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="pay_time" property="payTime"/>
        <result column="complete_time" property="completeTime"/>
        <result column="order_ip" property="orderIp"/>
        <result column="receiving_time" property="receivingTime"/>
    </resultMap>

    <resultMap id="OrderResultVOMap" type="com.fulu.game.core.entity.vo.OrderVO" extends="OrderResultMap">
    </resultMap>

    <resultMap id="OrderResultMarketVOMap" type="com.fulu.game.core.entity.vo.MarketOrderVO" extends="OrderResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,coupon_no,category_id,user_id,service_user_id,name,type,channel_id,remark,is_pay,status,commission_money,total_money,actual_money,coupon_money,create_time,update_time,pay_time,complete_time,order_ip,receiving_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="OrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findByOrderNo" parameterType="java.lang.String" resultMap="OrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
        <where>
            order_no = #{orderNo}
        </where>
    </select>

    <select id="findAll" resultMap="OrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order
    </select>

    <select id="countByParameter" resultType="java.lang.Integer" parameterType="com.fulu.game.core.entity.vo.OrderVO">
        SELECT
          count(1)
        FROM t_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="serviceUserId != null">
                and service_user_id = #{serviceUserId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
            <if test="isPay != null">
                and is_pay = #{isPay}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="statusList != null">
                and status in
                <foreach collection="statusList" item="s" index="index" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="orderIp != null">
                and order_ip = #{orderIp}
            </if>
            <if test="receivingTime != null">
                and receiving_time = #{receivingTime}
            </if>
        </where>
    </select>

    <select id="findByParameter" resultMap="OrderResultMap" parameterType="com.fulu.game.core.entity.vo.OrderVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="serviceUserId != null">
                and service_user_id = #{serviceUserId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
            <if test="isPay != null">
                and is_pay = #{isPay}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="statusList != null">
                and status in
                <foreach collection="statusList" item="s" index="index" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="orderIp != null">
                and order_ip = #{orderIp}
            </if>
            <if test="receivingTime != null">
                and receiving_time = #{receivingTime}
            </if>
        </where>
    </select>


    <select id="findVOByParameter" resultMap="OrderResultVOMap" parameterType="com.fulu.game.core.entity.vo.OrderVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="serviceUserId != null">
                and service_user_id = #{serviceUserId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
            <if test="isPay != null">
                and is_pay = #{isPay}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="statusList != null">
                and status in
                <foreach collection="statusList" item="s" index="index" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
            <if test="orderIp != null">
                and order_ip = #{orderIp}
            </if>
            <if test="receivingTime != null">
                and receiving_time = #{receivingTime}
            </if>
        </where>
    </select>



    <select id="findMarketByParameter" resultMap="OrderResultMarketVOMap" parameterType="com.fulu.game.core.entity.vo.OrderVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="serviceUserId != null">
                and service_user_id = #{serviceUserId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
            <if test="isPay != null">
                and is_pay = #{isPay}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="orderIp != null">
                and order_ip = #{orderIp}
            </if>
            <if test="statusList != null">
                and status in
                <foreach collection="statusList" item="s" index="index" open="(" close=")" separator=",">
                    #{s}
                </foreach>
            </if>
            <if test="receivingTime != null">
                and receiving_time = #{receivingTime}
            </if>
        </where>
    </select>




    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_order
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.Order">
        insert into
        t_order (order_no,coupon_no,category_id,user_id,service_user_id,name,type,channel_id,remark,is_pay,status,commission_money,total_money,actual_money,coupon_money,create_time,update_time,pay_time,complete_time,order_ip,receiving_time)
        values
        (#{orderNo},#{couponNo},#{categoryId},#{userId},#{serviceUserId},#{name},#{type},#{channelId},#{remark},#{isPay},#{status},#{commissionMoney},#{totalMoney},#{actualMoney},#{couponMoney},#{createTime},#{updateTime},#{payTime},#{completeTime},#{orderIp},#{receivingTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.Order">
        update t_order
        <set>

            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="couponNo != null">
                coupon_no = #{couponNo},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="serviceUserId != null">
                service_user_id = #{serviceUserId},
            </if>

            <if test="name != null">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="channelId != null">
                channel_id = #{channelId},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="isPay != null">
                is_pay = #{isPay},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="commissionMoney != null">
                commission_money = #{commissionMoney},
            </if>
            <if test="totalMoney != null">
                total_money = #{totalMoney},
            </if>
            <if test="actualMoney != null">
                actual_money = #{actualMoney},
            </if>
            <if test="couponMoney != null">
                coupon_money = #{couponMoney},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime},
            </if>
            <if test="completeTime != null">
                complete_time = #{completeTime},
            </if>
            <if test="orderIp != null">
                order_ip = #{orderIp},
            </if>
            <if test="receivingTime != null">
                receiving_time = #{receivingTime}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>