<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.PersonTagDao">
    <resultMap id="PersonTagResultMap" type="com.fulu.game.core.entity.PersonTag">
        <id column="id" property="id"/>
        <result column="tag_id" property="tagId"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="PersonTagResultVOMap" type="com.fulu.game.core.entity.vo.PersonTagVO" extends="PersonTagResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,tag_id,user_id,name,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="PersonTagResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_person_tag
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="PersonTagResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_person_tag
    </select>

    <select id="findByParameter" resultMap="PersonTagResultMap"
            parameterType="com.fulu.game.core.entity.vo.PersonTagVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_person_tag
        <where>
            <if test="tagId != null">
                and tag_id = #{tagId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_person_tag
        <where>
            id = #{id}
        </where>
    </delete>

    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete from t_person_tag
        <where>
            user_id = #{userId}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.PersonTag">
        insert into
        t_person_tag (tag_id,user_id,name,create_time,update_time)
        values
        (#{tagId},#{userId},#{name},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.PersonTag">
        update t_person_tag
        <set>

            <if test="tagId != null">
                tag_id = #{tagId},
            </if>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>