<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.PilotOrderDetailsDao">
    <resultMap id="PilotOrderDetailsResultMap" type="com.fulu.game.core.entity.PilotOrderDetails">
        <id column="id" property="id"/>
        <result column="remark" property="remark"/>
        <result column="money" property="money"/>
        <result column="left_amount" property="leftAmount"/>
        <result column="sum" property="sum"/>
        <result column="admin_id" property="adminId"/>
        <result column="admin_name" property="adminName"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="PilotOrderDetailsResultVOMap" type="com.fulu.game.core.entity.vo.PilotOrderDetailsVO"
               extends="PilotOrderDetailsResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,remark,money,left_amount,sum,admin_id,admin_name,create_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="PilotOrderDetailsResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_pilot_order_details
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="PilotOrderDetailsResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_pilot_order_details
    </select>

    <select id="findByParameter" resultMap="PilotOrderDetailsResultMap"
            parameterType="com.fulu.game.core.entity.vo.PilotOrderDetailsVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_pilot_order_details
        <where>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="money != null">
                and money = #{money}
            </if>
            <if test="leftAmount != null">
                and left_amount = #{leftAmount}
            </if>
            <if test="sum != null">
                and sum = #{sum}
            </if>
            <if test="adminId != null">
                and admin_id = #{adminId}
            </if>
            <if test="adminName != null">
                and admin_name = #{adminName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_pilot_order_details
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.fulu.game.core.entity.PilotOrderDetails">
        insert into
        t_pilot_order_details (remark,money,left_amount,sum,admin_id,admin_name,create_time)
        values
        (#{remark},#{money},#{leftAmount},#{sum},#{adminId},#{adminName},#{createTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.PilotOrderDetails">
        update t_pilot_order_details
        <set>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="money != null">
                money = #{money},
            </if>
            <if test="leftAmount != null">
                left_amount = #{leftAmount},
            </if>

            <if test="sum != null">
                sum = #{sum},
            </if>

            <if test="adminId != null">
                admin_id = #{adminId},
            </if>

            <if test="adminName != null">
                admin_name = #{adminName},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 查询最近一笔打款记录的sum值 -->
    <select id="findLastRecord" resultType="com.fulu.game.core.entity.PilotOrderDetails">
        SELECT
            *
        FROM
            t_pilot_order_details
        ORDER BY
            id DESC
        LIMIT 1;
    </select>
</mapper>