<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.PriceRuleDao">
    <resultMap id="PriceRuleResultMap" type="com.fulu.game.core.entity.PriceRule">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="platform_show" property="platformShow"/>
        <result column="order_count" property="orderCount"/>
        <result column="price" property="price"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <resultMap id="PriceRuleResultVOMap" type="com.fulu.game.core.entity.vo.PriceRuleVO" extends="PriceRuleResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,category_id,platform_show,order_count,price,create_time,update_time,is_del    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="PriceRuleResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_price_rule
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="PriceRuleResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_price_rule
    </select>

    <select id="findByParameter" resultMap="PriceRuleResultMap"
            parameterType="com.fulu.game.core.entity.vo.PriceRuleVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_price_rule
        <where>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="platformShow != null">
                and platform_show = #{platformShow}
            </if>
            <if test="orderCount != null">
                and order_count = #{orderCount}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isDel != null">
                and is_del = #{isDel}
            </if>
        </where>
    </select>

    <select id="findMaxPrice" resultType="com.fulu.game.core.entity.PriceRule">
        select * from t_price_rule
        WHERE category_id = #{categoryId} and order_count &gt;= #{orderCount} and is_del = 0
        order by order_count
        limit 1
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_price_rule
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.PriceRule">
        insert into
        t_price_rule (category_id,platform_show,order_count,price,create_time,update_time,is_del)
        values
        (#{categoryId},#{platformShow},#{orderCount},#{price},#{createTime},#{updateTime},#{isDel})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.PriceRule">
        update t_price_rule
        <set>

            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>

            <if test="platformShow != null">
                platform_show = #{platformShow},
            </if>

            <if test="orderCount != null">
                order_count = #{orderCount},
            </if>

            <if test="price != null">
                price = #{price},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="isDel != null">
                is_del = #{isDel},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>