<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.ProductDao">
    <resultMap id="ProductResultMap" type="com.fulu.game.core.entity.Product">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="category_id" property="categoryId"/>
        <result column="gender" property="gender"/>
        <result column="description" property="description"/>
        <result column="product_name" property="productName"/>
        <result column="category_icon" property="categoryIcon"/>
        <result column="tech_auth_id" property="techAuthId"/>
        <result column="price" property="price"/>
        <result column="unit" property="unit"/>
        <result column="sales_mode_id" property="salesModeId"/>
        <result column="sales_mode_rank" property="salesModeRank"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="ProductResultVOMap" type="com.fulu.game.core.entity.vo.ProductVO" extends="ProductResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,category_id,gender,product_name,category_icon,description,tech_auth_id,price,unit,unit_tech_value_id,unit_tech_value_rank,status,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="ProductResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="ProductResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product
    </select>

    <select id="findByParameter" resultMap="ProductResultMap" parameterType="com.fulu.game.core.entity.vo.ProductVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_product
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="productName != null">
                and product_name = #{productName}
            </if>
            <if test="categoryIcon != null">
                and category_icon = #{categoryIcon}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="techAuthId != null">
                and tech_auth_id = #{techAuthId}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="unit != null">
                and unit = #{unit}
            </if>
            <if test="salesModeId != null">
                and sales_mode_id = #{salesModeId}
            </if>
            <if test="salesModeRank != null">
                and sales_mode_rank = #{salesModeRank}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <select id="findProductShowCase" resultType="com.fulu.game.core.entity.vo.ProductShowCaseVO">
        SELECT
            t1.id as id,
            t1.user_id as userId,
            t1.category_id as categoryId,
            t1.gender as gender,
            t1.description as description,
            t1.product_name as productName,
            t1.price as price,
            t1.unit as unit,
            t1.`status` as status,
            t1.create_time as createTime
        FROM
            t_product t1
        JOIN (
            SELECT
                user_id,
                max(sales_mode_rank) AS sales_mode_rank
            FROM
                t_product
            WHERE
                category_id = #{categoryId}
                and `status` = 1
                <if test="gender != null">
                    and gender = #{gender}
                </if>
            GROUP BY
                user_id
        ) t2 ON t1.user_id = t2.user_id
        AND t1.sales_mode_rank = t2.sales_mode_rank
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_product
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.Product">
        insert into
        t_product (user_id,category_id,gender,product_name,category_icon,description,tech_auth_id,price,unit,sales_mode_id,sales_mode_rank,status,create_time,update_time)
        values
        (#{userId},#{categoryId},#{gender},#{productName},#{categoryIcon},#{description},#{techAuthId},#{price},#{unit},#{salesModeId},#{salesModeRank},#{status},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.Product">
        update t_product
        <set>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>

            <if test="productName != null">
                product_name = #{productName},
            </if>

            <if test="categoryIcon != null">
                category_icon = #{categoryIcon},
            </if>
            <if test="description != null">
                description = #{description},
            </if>

            <if test="techAuthId != null">
                tech_auth_id = #{techAuthId},
            </if>

            <if test="price != null">
                price = #{price},
            </if>

            <if test="unit != null">
                unit = #{unit},
            </if>

            <if test="salesModeId != null">
                sales_mode_id = #{salesModeId},
            </if>

            <if test="salesModeRank != null">
                sales_mode_rank = #{salesModeRank},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>