<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.ProductTopDao">
    <resultMap id="ProductTopResultMap" type="com.fulu.game.core.entity.ProductTop">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="user_id" property="userId"/>
        <result column="mobile" property="mobile"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="admin_id" property="adminId"/>
        <result column="admin_name" property="adminName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="ProductTopResultVOMap" type="com.fulu.game.core.entity.vo.ProductTopVO"
               extends="ProductTopResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,category_id,user_id,mobile,status,sort,admin_id,admin_name,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="ProductTopResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product_top
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="ProductTopResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product_top
    </select>

    <select id="list" resultMap="ProductTopResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_product_top
        <where>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile}
            </if>
            <if test="nickname != null">
                and user_id in (SELECT id FROM t_user u WHERE u.nickname like  CONCAT('%',#{nickname},'%'))
            </if>

        </where>
    </select>

    <select id="findByParameter" resultMap="ProductTopResultMap"
            parameterType="com.fulu.game.core.entity.vo.ProductTopVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_product_top
        <where>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="adminId != null">
                and admin_id = #{adminId}
            </if>
            <if test="adminName != null">
                and admin_name = #{adminName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_product_top
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.ProductTop">
        insert into
        t_product_top (category_id,user_id,mobile,status,sort,admin_id,admin_name,create_time,update_time)
        values
        (#{categoryId},#{userId},#{mobile},#{status},#{sort},#{adminId},#{adminName},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.ProductTop">
        update t_product_top
        <set>

            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="mobile != null">
                mobile = #{mobile},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="sort != null">
                sort = #{sort},
            </if>

            <if test="adminId != null">
                admin_id = #{adminId},
            </if>

            <if test="adminName != null">
                admin_name = #{adminName},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>