<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.PushMsgDao">
    <resultMap id="PushMsgResultMap" type="com.fulu.game.core.entity.PushMsg">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="jump_type" property="jumpType"/>
        <result column="page" property="page"/>
        <result column="push_ids" property="pushIds"/>
        <result column="touch_time" property="touchTime"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="platform" property="platform"/>
        <result column="hits" property="hits"/>
        <result column="success_num" property="successNum"/>
        <result column="total_num" property="totalNum"/>
        <result column="is_pushed" property="isPushed"/>
        <result column="admin_id" property="adminId"/>
        <result column="admin_name" property="adminName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="PushMsgResultVOMap" type="com.fulu.game.core.entity.vo.PushMsgVO" extends="PushMsgResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,type,jump_type,page,push_ids,touch_time,title,content,platform,hits,success_num,total_num,is_pushed,admin_id,admin_name,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="PushMsgResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_push_msg
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="PushMsgResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_push_msg
    </select>

    <select id="findByParameter" resultMap="PushMsgResultMap" parameterType="com.fulu.game.core.entity.vo.PushMsgVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_push_msg
        <where>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="jumpType != null">
                and jump_type = #{jumpType}
            </if>
            <if test="page != null">
                and page = #{page}
            </if>
            <if test="pushIds != null">
                and push_ids = #{pushIds}
            </if>
            <if test="touchTime != null">
                and touch_time = #{touchTime}
            </if>
            <if test="title != null">
                and title = #{title}
            </if>
            <if test="content != null">
                and content = #{content}
            </if>
            <if test="platform != null">
                and platform = #{platform}
            </if>
            <if test="hits != null">
                and hits = #{hits}
            </if>
            <if test="successNum != null">
                and success_num = #{successNum}
            </if>
            <if test="totalNum != null">
                and total_num = #{totalNum}
            </if>
            <if test="isPushed != null">
                and is_pushed = #{isPushed}
            </if>
            <if test="adminId != null">
                and admin_id = #{adminId}
            </if>
            <if test="adminName != null">
                and admin_name = #{adminName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <select id="findNotPushMsgByTouchTime" resultMap="PushMsgResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_push_msg
        <where>
            is_pushed = false
            and touch_time is NOT NULL
            and touch_time &gt;= #{beginTime}
            and touch_time &lt;= #{endTime}
        </where>
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_push_msg
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.PushMsg">
        insert into
        t_push_msg (type,jump_type,page,push_ids,touch_time,title,content,platform,hits,success_num,total_num,is_pushed,admin_id,admin_name,create_time,update_time)
        values
        (#{type},#{jumpType},#{page},#{pushIds},#{touchTime},#{title},#{content},#{platform},#{hits},#{successNum},#{totalNum},#{isPushed},#{adminId},#{adminName},#{createTime},#{updateTime})
    </insert>

    <select id="newOfficialNotice" resultType="com.fulu.game.core.entity.PushMsg">
        SELECT
	      *
        FROM
            t_push_msg
        WHERE
            platform = 45
        AND jump_type = 3
        ORDER BY
            touch_time DESC
        LIMIT 1;
    </select>

    <update id="update" parameterType="com.fulu.game.core.entity.PushMsg">
        update t_push_msg
        <set>

            <if test="type != null">
                type = #{type},
            </if>

            <if test="jumpType != null">
                jump_type = #{jumpType},
            </if>

            <if test="page != null">
                page = #{page},
            </if>

            <if test="pushIds != null">
                push_ids = #{pushIds},
            </if>

            <if test="touchTime != null">
                touch_time = #{touchTime},
            </if>

            <if test="title != null">
                title = #{title},
            </if>

            <if test="content != null">
                content = #{content},
            </if>

            <if test="platform != null">
                platform = #{platform},
            </if>

            <if test="hits != null">
                hits = #{hits},
            </if>

            <if test="successNum != null">
                success_num = #{successNum},
            </if>

            <if test="totalNum != null">
                total_num = #{totalNum},
            </if>

            <if test="isPushed != null">
                is_pushed = #{isPushed},
            </if>

            <if test="adminId != null">
                admin_id = #{adminId},
            </if>

            <if test="adminName != null">
                admin_name = #{adminName},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>