<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.RoleRouterDao">
    <resultMap id="RoleRouterResultMap" type="com.fulu.game.core.entity.RoleRouter">
                                    <id column="id"  property="id" />
                                            <result column="role_id"  property="roleId" />
                                            <result column="router_id"  property="routerId" />
                        </resultMap>

    <resultMap id="RoleRouterResultVOMap" type="com.fulu.game.core.entity.vo.RoleRouterVO" extends="RoleRouterResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,router_id    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="RoleRouterResultMap">
        select
        <include refid="Base_Column_List" />
        from t_role_router
        <where>
        id = #{id}
        </where>
    </select>

    <select id="findAll"  resultMap="RoleRouterResultMap">
        select
        <include refid="Base_Column_List" />
        from t_role_router
    </select>

    <select id="findByParameter" resultMap="RoleRouterResultMap" parameterType="com.fulu.game.core.entity.vo.RoleRouterVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_role_router
        <where>
                                                                            <if test="roleId != null">
                       and role_id = #{roleId}
                    </if>
                                                                <if test="routerId != null">
                       and router_id = #{routerId}
                    </if>
                                    </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_role_router
        <where>
            id = #{id}
        </where>
    </delete>

    <delete id="deleteByRoleId"  parameterType="java.lang.Integer">
        delete from t_role_router
        <where>
            role_id = #{0}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.RoleRouter">
        insert into
        t_role_router (role_id,router_id)
        values
        (#{roleId},#{routerId})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.RoleRouter">
        update t_role_router
        <set>
                                                        
                    <if test="roleId != null">
                        role_id = #{roleId},
                    </if>
                                            
                    <if test="routerId != null">
                        router_id = #{routerId},
                    </if>
                                    </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>