<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.RoomDao">
    <resultMap id="RoomResultMap" type="com.fulu.game.core.entity.Room">
        <id column="id" property="id"/>
        <result column="room_no" property="roomNo"/>
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="slogan" property="slogan"/>
        <result column="notice" property="notice"/>
        <result column="is_lock" property="isLock"/>
        <result column="password" property="password"/>
        <result column="user_id" property="userId"/>
        <result column="owner_mobile" property="ownerMobile"/>
        <result column="virtual_people" property="virtualPeople"/>
        <result column="is_show" property="isShow"/>
        <result column="is_activate" property="isActivate"/>
        <result column="is_hot" property="isHot"/>
        <result column="sort" property="sort"/>
        <result column="template" property="template"/>
        <result column="category_id" property="categoryId"/>
        <result column="room_category_id" property="roomCategoryId"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="RoomResultVOMap" type="com.fulu.game.core.entity.vo.RoomVO" extends="RoomResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,room_no,icon,name,slogan,notice,is_lock,password,user_id,owner_mobile,virtual_people,is_show,is_activate,is_hot,sort,template,category_id,room_category_id,remark,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="RoomResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_room
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="RoomResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_room
    </select>


    <select id="findCollectRoomByUser" parameterType="java.lang.Integer" resultMap="RoomResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM t_room
        <where>
            room_no in(SELECT room_no FROM t_room_collect  WHERE user_id = #{userId} order by create_time desc)
            and is_activate = TRUE
        </where>
    </select>

    <select id="findByParameter" resultMap="RoomResultMap" parameterType="com.fulu.game.core.entity.vo.RoomVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_room
        <where>
            <if test="roomNo != null">
                and room_no = #{roomNo}
            </if>
            <if test="icon != null">
                and icon = #{icon}
            </if>
            <if test="name != null">
                and name like CONCAT('%', #{name},'%'))
            </if>
            <if test="slogan != null">
                and slogan = #{slogan}
            </if>
            <if test="notice != null">
                and notice = #{notice}
            </if>
            <if test="isLock != null">
                and is_lock = #{isLock}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="ownerMobile != null">
                and owner_mobile = #{ownerMobile}
            </if>
            <if test="virtualPeople != null">
                and virtual_people = #{virtualPeople}
            </if>
            <if test="isShow != null">
                and is_show = #{isShow}
            </if>
            <if test="isActivate != null">
                and is_activate = #{isActivate}
            </if>
            <if test="isHot != null">
                and is_hot = #{isHot}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="template != null">
                and template = #{template}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="roomCategoryId != null">
                and room_category_id = #{roomCategoryId}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_room
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.Room">
        insert into
        t_room (room_no,icon,name,slogan,notice,is_lock,password,user_id,owner_mobile,virtual_people,is_show,is_activate,is_hot,sort,template,category_id,room_category_id,remark,create_time,update_time)
        values
        (#{roomNo},#{icon},#{name},#{slogan},#{notice},#{isLock},#{password},#{userId},#{ownerMobile},#{virtualPeople},#{isShow},#{isActivate},#{isHot},#{sort},#{template},#{categoryId},#{roomCategoryId},#{remark},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.Room">
        update t_room
        <set>

            <if test="roomNo != null">
                room_no = #{roomNo},
            </if>

            <if test="icon != null">
                icon = #{icon},
            </if>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="slogan != null">
                slogan = #{slogan},
            </if>

            <if test="notice != null">
                notice = #{notice},
            </if>

            <if test="isLock != null">
                is_lock = #{isLock},
            </if>

            <if test="password != null">
                password = #{password},
            </if>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="ownerMobile != null">
                owner_mobile = #{ownerMobile},
            </if>

            <if test="virtualPeople != null">
                virtual_people = #{virtualPeople},
            </if>

            <if test="isShow != null">
                is_show = #{isShow},
            </if>

            <if test="isActivate != null">
                is_activate = #{isActivate},
            </if>

            <if test="isHot != null">
                is_hot = #{isHot},
            </if>

            <if test="sort != null">
                sort = #{sort},
            </if>

            <if test="template != null">
                template = #{template},
            </if>

            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>

            <if test="roomCategoryId != null">
                room_category_id = #{roomCategoryId},
            </if>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>