<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.SysPermissionDao">
    <resultMap id="SysPermissionResultMap" type="com.fulu.game.core.entity.SysPermission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="resource_type" property="resourceType"/>
        <result column="url" property="url"/>
        <result column="permission" property="permission"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent_ids" property="parentIds"/>
        <result column="available" property="available"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,name,resource_type,url,permission,parent_id,parent_ids,available    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="SysPermissionResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_permission
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="SysPermissionResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_permission
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from sys_permission
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.fulu.game.core.entity.SysPermission">
        insert into
        sys_permission (name,resource_type,url,permission,parent_id,parent_ids,available)
        values
        (#{name},#{resourceType},#{url},#{permission},#{parentId},#{parentIds},#{available})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.SysPermission">
        update sys_permission
        <set>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="resourceType != null">
                resource_type = #{resourceType},
            </if>

            <if test="url != null">
                url = #{url},
            </if>

            <if test="permission != null">
                permission = #{permission},
            </if>

            <if test="parentId != null">
                parent_id = #{parentId},
            </if>

            <if test="parentIds != null">
                parent_ids = #{parentIds},
            </if>

            <if test="available != null">
                available = #{available},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>