<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.SysRoleDao">
    <resultMap id="SysRoleResultMap" type="com.fulu.game.core.entity.SysRole">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <resultMap id="SysRoleResultVOMap" type="com.fulu.game.core.entity.vo.SysRoleVO" extends="SysRoleResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,name,remark,status,operator_id,operator_name,create_time,update_time,is_del    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="SysRoleResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_role
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="SysRoleResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_role
        where is_del = 0
    </select>

    <select id="findByParameter" resultMap="SysRoleResultMap" parameterType="com.fulu.game.core.entity.vo.SysRoleVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_role
        <where>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="operatorId != null">
                and operator_id = #{operatorId}
            </if>
            <if test="operatorName != null">
                and operator_name = #{operatorName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isDel != null">
                and is_del = #{isDel}
            </if>
            <if test="id != null">
                and id != #{id}
            </if>
        </where>
    </select>

    <select id="findByAdminId" resultMap="SysRoleResultMap">
        SELECT sysRole.* from t_admin_role adminRole
        LEFT JOIN t_sys_role sysRole
        on adminRole.role_id = sysRole.id
        where adminRole.admin_id = #{0}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_sys_role
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.SysRole">
        insert into
        t_sys_role (name,remark,status,operator_id,operator_name,create_time,update_time,is_del)
        values
        (#{name},#{remark},#{status},#{operatorId},#{operatorName},#{createTime},#{updateTime},#{isDel})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.SysRole">
        update t_sys_role
        <set>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="operatorId != null">
                operator_id = #{operatorId},
            </if>

            <if test="operatorName != null">
                operator_name = #{operatorName},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="isDel != null">
                is_del = #{isDel},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>