<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.SysUnitDao">
    <resultMap id="SysUnitResultMap" type="com.fulu.game.core.entity.SysUnit">
        <id column="id" property="id"/>
        <result column="unit" property="unit"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="SysUnitResultVOMap" type="com.fulu.game.core.entity.vo.SysUnitVO" extends="SysUnitResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,unit,create_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="SysUnitResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_unit
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="SysUnitResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_unit
    </select>

    <select id="findByParameter" resultMap="SysUnitResultMap" parameterType="com.fulu.game.core.entity.vo.SysUnitVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_unit
        <where>
            <if test="unit != null">
                and unit = #{unit}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_sys_unit
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.SysUnit">
        insert into
        t_sys_unit (unit,create_time)
        values
        (#{unit},#{createTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.SysUnit">
        update t_sys_unit
        <set>

            <if test="unit != null">
                unit = #{unit},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>