<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.TechTagDao">
    <resultMap id="TechTagResultMap" type="com.fulu.game.core.entity.TechTag">
        <id column="id" property="id"/>
        <result column="tech_auth_id" property="techAuthId"/>
        <result column="tag_id" property="tagId"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="TechTagResultVOMap" type="com.fulu.game.core.entity.vo.TechTagVO" extends="TechTagResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,tech_auth_id,tag_id,name,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="TechTagResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_tech_tag
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="TechTagResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_tech_tag
    </select>

    <select id="findByParameter" resultMap="TechTagResultMap" parameterType="com.fulu.game.core.entity.vo.TechTagVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_tech_tag
        <where>
            <if test="techAuthId != null">
                and tech_auth_id = #{techAuthId}
            </if>
            <if test="tagId != null">
                and tag_id = #{tagId}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_tech_tag
        <where>
            id = #{id}
        </where>
    </delete>

    <delete id="deleteByTechAuthId" parameterType="java.lang.Integer">
        delete from t_tech_tag
        <where>
            tech_auth_id = #{techAuthId}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.TechTag">
        insert into
        t_tech_tag (tech_auth_id,tag_id,name,create_time,update_time)
        values
        (#{techAuthId},#{tagId},#{name},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.TechTag">
        update t_tech_tag
        <set>

            <if test="techAuthId != null">
                tech_auth_id = #{techAuthId},
            </if>

            <if test="tagId != null">
                tag_id = #{tagId},
            </if>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>