<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.UserDao">
    <resultMap id="UserResultMap" type="com.fulu.game.core.entity.User">
        <id column="id" property="id"/>
        <result column="mobile" property="mobile"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="head_portraits_url" property="headPortraitsUrl"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="realname" property="realname"/>
        <result column="idcard" property="idcard"/>
        <result column="type" property="type"/>
        <result column="user_info_auth" property="userInfoAuth"/>
        <result column="balance" property="balance"/>
        <result column="charge_balance"  property="chargeBalance" />
        <result column="virtual_balance" property="virtualBalance" />
        <result column="charm" property="charm" />
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="open_id" property="openId"/>
        <result column="point_open_id" property="pointOpenId"/>
        <result column="public_open_id" property="publicOpenId"/>
        <result column="union_id" property="unionId"/>
        <result column="city" property="city"/>
        <result column="province" property="province"/>
        <result column="country" property="country"/>
        <result column="score_avg" property="scoreAvg"/>
        <result column="user_score" property="userScore"/>
        <result column="constellation" property="constellation"/>
        <result column="birth" property="birth"/>
        <result column="im_id" property="imId"/>
        <result column="im_psw" property="imPsw"/>
        <result column="source_id" property="sourceId"/>
        <result column="regist_ip" property="registIp"/>
        <result column="login_ip" property="loginIp"/>
        <result column="login_time" property="loginTime"/>
    </resultMap>

    <resultMap id="UserResultVOMap" type="com.fulu.game.core.entity.vo.UserVO" extends="UserResultMap">
        <result column="push_time_interval" property="pushTimeInterval"/>
        <result column="source_name" property="sourceName"/>
        <result column="pay_sum" property="paySum"/>
        <result column="order_count" property="orderCount"/>
    </resultMap>

    <resultMap id="ImUserMap" type="com.fulu.game.core.entity.ImUser">
    </resultMap>

    <sql id="Base_Column_List">
        id,mobile,nickname,gender,head_portraits_url,password,salt,realname,idcard,type,user_info_auth,balance,charge_balance,virtual_balance,charm,status,create_time,update_time,open_id,point_open_id,public_open_id,union_id,city,province,country,score_avg,user_score,constellation,birth,age,im_id,im_psw,source_id,regist_ip,login_ip,login_time
    </sql>

    <select id="findUserVOByUserIds" resultMap="UserResultVOMap">
        SELECT
        u.*,
        uia.push_time_interval
        FROM
        t_user u
        LEFT JOIN t_user_info_auth uia ON u.id = uia.user_id
        WHERE
        u.id in
        <foreach collection="userIds" item="userId" index="index" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultMap="UserResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findByUserIds" parameterType="java.lang.Integer" resultMap="UserResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        <where>
            id in
            <foreach collection="userIds" item="userId" index="index" open="(" close=")" separator=",">
                #{userId}
            </foreach>
            <if test="#{disabled}">
                AND user_info_auth != 3
            </if>
        </where>
        ORDER BY user_score DESC
    </select>

    <select id="findAll" resultMap="UserResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
    </select>

    <select id="findByParameter" resultMap="UserResultMap" parameterType="com.fulu.game.core.entity.vo.UserVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="openId != null">
                and open_id = #{openId}
            </if>
            <if test="pointOpenId != null">
                and point_open_id = #{pointOpenId}
            </if>
            <if test="publicOpenId != null">
                and public_open_id = #{publicOpenId}
            </if>
            <if test="unionId != null">
                and union_id = #{unionId}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile}
            </if>
            <if test="nickname != null">
                and nickname LIKE CONCAT('%', #{nickname},'%')
            </if>
            <if test="idcard != null">
                and idcard = #{idcard}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="userInfoAuth != null">
                and user_info_auth = #{userInfoAuth}
            </if>
            <if test="chargeBalance != null">
                and charge_balance = #{chargeBalance}
            </if>
            <if test="virtualBalance != null">
                and virtual_balance = #{virtualBalance}
            </if>
            <if test="charm != null">
                and charm = #{charm}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="imId != null">
                and im_id = #{imId}
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="sourceId != null">
                and source_id = #{sourceId}
            </if>
            <if test="userScore != null">
                and user_score = #{userScore}
            </if>
        </where>
    </select>

    <select id="findByExportParam" resultMap="UserResultMap" parameterType="com.fulu.game.core.entity.vo.UserVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
        <where>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="startTime != null">
                and login_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and login_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="findBySearch" resultMap="UserResultVOMap" parameterType="com.fulu.game.core.entity.vo.UserVO">
        SELECT
        u.*,
        rs.name AS source_name,
        IFNULL(sum(o.actual_money),0) AS pay_sum,
        count(o.user_id) AS order_count
        FROM
        t_user u
        LEFT JOIN t_regist_source rs ON u.source_id = rs.id
        LEFT JOIN (SELECT user_id,actual_money FROM t_order WHERE status &gt;=500 AND status &lt;= 600) o ON
        u.id=o.user_id
        <where>
            <if test="id != null">
                u.id = #{id}
            </if>
            <if test="mobile != null">
                and u.mobile = #{mobile}
            </if>
            <if test="type != null">
                and u.type = #{type}
            </if>
            <if test="nickname != null">
                and u.nickname LIKE CONCAT('%', #{nickname},'%')
            </if>
            <if test="sourceName != null">
                and rs.name LIKE CONCAT('%', #{sourceName},'%')
            </if>
            <if test="startTime != null">
                and u.login_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and u.login_time &lt;= #{endTime}
            </if>
        </where>
        GROUP BY u.id
    </select>


    <select id="countByParameter" resultType="java.lang.Integer" parameterType="com.fulu.game.core.entity.vo.UserVO">
        SELECT
        COUNT(1)
        FROM t_user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="openId != null">
                and open_id = #{openId}
            </if>
            <if test="pointOpenId != null">
                and point_open_id = #{pointOpenId}
            </if>
            <if test="publicOpenId != null">
                and public_open_id = #{publicOpenId}
            </if>
            <if test="unionId != null">
                and union_id = #{unionId}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile}
            </if>
            <if test="nickname != null">
                and nickname LIKE CONCAT('%', #{nickname},'%')
            </if>
            <if test="idcard != null">
                and idcard = #{idcard}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="userInfoAuth != null">
                and user_info_auth = #{userInfoAuth}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="imId != null">
                and im_id = #{imId}
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="sourceId != null">
                and source_id = #{sourceId}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_user
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.User">
        insert into
        t_user (mobile,nickname,gender,head_portraits_url,password,salt,realname,idcard,type,user_info_auth,balance,charge_balance,virtual_balance,charm,status,create_time,update_time,open_id,point_open_id,public_open_id,union_id,city,province,country,score_avg,user_score,constellation,birth,im_id,im_psw,source_id,regist_ip,login_ip,login_time)
        values
        (#{mobile},#{nickname},#{gender},#{headPortraitsUrl},#{password},#{salt},#{realname},#{idcard},#{type},#{userInfoAuth},#{balance},#{virtualBalance},#{virtualBalance},#{charm},#{status},#{createTime},#{updateTime},#{openId},#{pointOpenId},#{publicOpenId},#{unionId},#{city},#{province},#{country},#{scoreAvg},#{userScore},#{constellation},#{birth},#{imId},#{imPsw},#{sourceId},#{registIp},#{loginIp},#{loginTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.User">
        update t_user
        <set>

            <if test="mobile != null">
                mobile = #{mobile},
            </if>

            <if test="nickname != null">
                nickname = #{nickname},
            </if>

            <if test="gender != null">
                gender = #{gender},
            </if>

            <if test="headPortraitsUrl != null">
                head_portraits_url = #{headPortraitsUrl},
            </if>

            <if test="password != null">
                password = #{password},
            </if>

            <if test="salt != null">
                salt = #{salt},
            </if>

            <if test="realname != null">
                realname = #{realname},
            </if>

            <if test="idcard != null">
                idcard = #{idcard},
            </if>

            <if test="type != null">
                type = #{type},
            </if>

            <if test="userInfoAuth != null">
                user_info_auth = #{userInfoAuth},
            </if>

            <if test="balance != null">
                balance = #{balance},
            </if>

            <if test="chargeBalance != null">
                charge_balance = #{chargeBalance},
            </if>

            <if test="virtualBalance != null">
                virtual_balance = #{virtualBalance},
            </if>

            <if test="charm != null">
                charm = #{charm},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="city != null">
                city = #{city},
            </if>
            <if test="province != null">
                province = #{province},
            </if>
            <if test="country != null">
                country = #{country},
            </if>
            <if test="openId != null">
                open_id = #{openId},
            </if>
            <if test="pointOpenId != null">
                point_open_id = #{pointOpenId},
            </if>
            <if test="publicOpenId != null">
                public_open_id = #{publicOpenId},
            </if>
            <if test="unionId != null">
                union_id = #{unionId},
            </if>
            <if test="scoreAvg != null">
                score_avg = #{scoreAvg},
            </if>
            <if test="userScore != null">
                user_score = #{userScore},
            </if>
            <if test="constellation != null">
                constellation = #{constellation},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="imId != null">
                im_id = #{imId},
            </if>
            <if test="imPsw != null">
                im_psw = #{imPsw},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="sourceId != null">
                source_id = #{sourceId},
            </if>
            <if test="registIp != null">
                regist_ip = #{registIp},
            </if>
            <if test="loginIp != null">
                login_ip = #{loginIp},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findImNullUser" resultMap="ImUserMap">
        SELECT id AS userId,im_id AS username,im_psw as imPsw from t_user WHERE im_id IS NULL OR im_id = ''
    </select>

    <select id="countUserOrder" resultType="java.lang.Integer">
        SELECT count(1) from t_order WHERE user_id = #{userId}
    </select>

    <select id="findUserScoreByUpdate" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
            user_score
        FROM
            t_user
        WHERE
            id = #{userId} FOR UPDATE;
    </select>
</mapper>