<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.UserInfoAuthDao">
    <resultMap id="UserInfoAuthResultMap" type="com.fulu.game.core.entity.UserInfoAuth">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="qq" property="qq"/>
        <result column="wechat" property="wechat"/>
        <result column="is_reject_submit" property="isRejectSubmit"/>
        <result column="main_pic_url" property="mainPicUrl"/>
        <result column="push_time_interval" property="pushTimeInterval"/>
        <result column="allow_export" property="allowExport"/>
        <result column="sort" property="sort"/>
        <result column="auto_say_hello" property="autoSayHello"/>
        <result column="vest_flag" property="vestFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="im_substitute_id" property="imSubstituteId"/>
        <result column="interests" property="interests"/>
        <result column="profession" property="profession"/>
        <result column="about" property="about"/>
        <result column="open_substitute_im" property="openSubstituteIm"/>
    </resultMap>

    <resultMap id="UserInfoAuthResultVOMap" type="com.fulu.game.core.entity.vo.UserInfoAuthVO"
               extends="UserInfoAuthResultMap">
        <result column="money_sum" property="moneySum"/>
        <result column="order_count" property="orderCount"/>
        <result column="user_info_auth" property="userInfoAuth"/>
        <result column="head_portraits_url" property="headUrl"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="nickname" property="nickname"/>
        <result column="im_substitute_id" property="imSubstituteId"/>
        <result column="im_id" property="imId"/>
        <result column="im_psw" property="imPsw"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,qq,wechat,is_reject_submit,main_pic_url,push_time_interval,allow_export,auto_say_hello,vest_flag,sort,create_time,update_time,im_substitute_id,interests,profession,about,open_substitute_im
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="UserInfoAuthResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_info_auth
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="UserInfoAuthResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_info_auth
    </select>

    <select id="findByUserIds" resultMap="UserInfoAuthResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_info_auth
        <where>
            user_id in
            <foreach collection="userIds" item="userId" index="index" open="(" close=")" separator=",">
                #{userId}
            </foreach>
        </where>
    </select>

    <select id="findByParameter" resultMap="UserInfoAuthResultMap"
            parameterType="com.fulu.game.core.entity.vo.UserInfoAuthVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_info_auth
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="autoSayHello != null">
                and auto_say_hello = #{autoSayHello}
            </if>
            <if test="vestFlag != null">
                and vest_flag = #{vestFlag}
            </if>
            <if test="qq != null">
                and qq = #{qq}
            </if>
            <if test="wechat != null">
                and wechat = #{wechat}
            </if>
            <if test="interests != null">
                and interests = #{interests}
            </if>
            <if test="profession != null">
                and profession = #{profession}
            </if>
            <if test="about != null">
                and about = #{about}
            </if>
            <if test="isRejectSubmit != null">
                and is_reject_submit = #{isRejectSubmit}
            </if>
            <if test="mainPicUrl != null">
                and main_pic_url = #{mainPicUrl}
            </if>
            <if test="pushTimeInterval != null">
                and push_time_interval = #{pushTimeInterval}
            </if>
            <if test="allowExport != null">
                and allow_export = #{allowExport}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="imSubstituteId != null">
                and im_substitute_id = #{imSubstituteId}
            </if>
            <if test="openSubstituteIm != null">
                and open_substitute_im = #{openSubstituteIm}
            </if>

        </where>
    </select>

    <select id="findBySearchVO" resultMap="UserInfoAuthResultVOMap"
            parameterType="com.fulu.game.core.entity.vo.searchVO.UserInfoAuthSearchVO">
        SELECT
        uia.*,
        u.user_info_auth,
        u.head_portraits_url,
        u.im_id,
        u.mobile,
        u.im_psw,
        u.gender,
        u.age,
        u.nickname,
        IFNULL( sum( o.total_money ), 0 ) AS money_sum,
        count( o.service_user_id ) AS order_count,
        (select count(1) from t_user_tech_auth tuta where tuta.user_id = uia.user_id) AS tech_auth_count
        FROM
        t_user_info_auth uia
        LEFT JOIN t_user u ON uia.user_id = u.id
        LEFT JOIN ( SELECT service_user_id, total_money FROM t_order WHERE STATUS &gt;= 500 AND STATUS &lt;= 600 ) o ON
        uia.user_id = o.service_user_id
        <where>
            <if test="id != null">
                and uia.id = #{id}
            </if>
            <if test="userId != null">
                and uia.user_id = #{userId}
            </if>
            <if test="autoSayHello != null">
                and uia.auto_say_hello = #{autoSayHello}
            </if>
            <if test="nickname != null">
                and u.nickname LIKE CONCAT('%', #{nickname},'%')
            </if>
            <if test="startTime != null">
                and uia.update_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and uia.update_time &lt;= #{endTime}
            </if>
            <if test="gender != null">
                and u.gender = #{gender}
            </if>
            <if test="userInfoAuth != null">
                and u.user_info_auth = #{userInfoAuth}
            </if>
            <if test="startAge != null">
                and u.age &gt;= #{startAge}
            </if>
            <if test="endAge != null">
                and u.age &lt;= #{endAge}
            </if>
            <if test="imId != null">
                and u.im_id = #{imId}
            </if>
            <if test="imSubstituteId != null">
                and uia.im_substitute_id = #{imSubstituteId}
            </if>
            <if test="openSubstituteIm != null">
                and open_substitute_im = #{openSubstituteIm}
            </if>
        </where>
        GROUP BY
        uia.id
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_user_info_auth
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.UserInfoAuth">
        insert into
        t_user_info_auth (user_id,qq,wechat,is_reject_submit,main_pic_url,push_time_interval,allow_export,auto_say_hello,vest_flag,sort,create_time,update_time,interests,profession,about,im_substitute_id,open_substitute_im)
        values
        (#{userId},#{qq},#{wechat},#{isRejectSubmit},#{mainPicUrl},#{pushTimeInterval},#{allowExport},#{autoSayHello},#{vestFlag},#{sort},#{createTime},#{updateTime},#{interests},#{profession},#{about},#{imSubstituteId},#{openSubstituteIm})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.UserInfoAuth">
        update t_user_info_auth
        <set>
            <if test="autoSayHello != null">
                auto_say_hello = #{autoSayHello},
            </if>
            <if test="vestFlag != null">
                vest_flag = #{vestFlag},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="qq != null">
                qq = #{qq},
            </if>

            <if test="wechat != null">
                wechat = #{wechat},
            </if>
            <if test="isRejectSubmit != null">
                is_reject_submit = #{isRejectSubmit},
            </if>
            <if test="mainPicUrl != null">
                main_pic_url = #{mainPicUrl},
            </if>
            <if test="pushTimeInterval != null">
                push_time_interval = #{pushTimeInterval},
            </if>
            <if test="allowExport != null">
                allow_export = #{allowExport},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="interests != null">
                interests = #{interests},
            </if>
            <if test="profession != null">
                profession = #{profession},
            </if>
            <if test="about != null">
                about = #{about},
            </if>
            <if test="imSubstituteId != null">
                im_substitute_id = #{imSubstituteId},
            </if>
            <if test="openSubstituteIm != null">
                open_substitute_im = #{openSubstituteIm},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateByUserId" parameterType="com.fulu.game.core.entity.UserInfoAuth">
        update t_user_info_auth
        <set>
            <if test="autoSayHello != null">
                auto_say_hello = #{autoSayHello},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="qq != null">
                qq = #{qq},
            </if>

            <if test="wechat != null">
                wechat = #{wechat},
            </if>
            <if test="isRejectSubmit != null">
                is_reject_submit = #{isRejectSubmit},
            </if>
            <if test="mainPicUrl != null">
                main_pic_url = #{mainPicUrl},
            </if>
            <if test="pushTimeInterval != null">
                push_time_interval = #{pushTimeInterval},
            </if>
            <if test="allowExport != null">
                allow_export = #{allowExport},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test='imSubstituteId == -1'>
                im_substitute_id = null,
            </if>
            <if test="imSubstituteId != null and imSubstituteId != -1">
                im_substitute_id = #{imSubstituteId},
            </if>
            <if test="interests != null">
                interests = #{interests},
            </if>
            <if test="profession != null">
                profession = #{profession},
            </if>
            <if test="about != null">
                about = #{about},
            </if>
            <if test="openSubstituteIm != null">
                open_substitute_im = #{openSubstituteIm},
            </if>
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>


    <update id="updateUserSort">
        update t_user_info_auth set sort = #{sort} where user_id = #{userId}
    </update>

    <select id="getMaxAutoSayHelloCount" resultType="java.lang.Integer">
        SELECT max(id) from t_user_info_auth WHERE auto_say_hello != '' and auto_say_hello is not nll
    </select>


    <select id="getTop1ByMinId" resultMap="UserInfoAuthResultVOMap" parameterType="java.lang.Integer">
        SELECT
        uia.*,
        u.user_info_auth,
        u.head_portraits_url,
        u.im_id,
        u.mobile,
        u.im_psw,
        u.gender,
        u.age,
        u.nickname
        FROM
        t_user_info_auth uia
        LEFT JOIN t_user u ON uia.user_id = u.id
        where uia.id <![CDATA[>=]]> #{minId} limit 1
    </select>

</mapper>