<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.UserTechAuthDao">
    <resultMap id="UserTechAuthResultMap" type="com.fulu.game.core.entity.UserTechAuth">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="user_id" property="userId"/>
        <result column="category_name" property="categoryName"/>
        <result column="mobile" property="mobile"/>
        <result column="grade_pic_url" property="gradePicUrl"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="approve_count" property="approveCount"/>
    </resultMap>

    <resultMap id="UserTechAuthResultVOMap" type="com.fulu.game.core.entity.vo.UserTechAuthVO"
               extends="UserTechAuthResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,category_id,user_id,category_name,mobile,grade_pic_url,description,status,create_time,update_time,approve_count
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="UserTechAuthResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_tech_auth
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="UserTechAuthResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_tech_auth
    </select>

    <select id="findByParameter" resultMap="UserTechAuthResultMap"
            parameterType="com.fulu.game.core.entity.vo.UserTechAuthVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_tech_auth
        <where>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="categoryName != null">
                and category_name = #{categoryName}
            </if>
            <if test="mobile != null">
                and mobile = #{mobile}
            </if>
            <if test="gradePicUrl != null">
                and grade_pic_url = #{gradePicUrl}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="approveCount != null">
                and approve_count &lt;= #{approveCount}
            </if>
        </where>
    </select>


    <select id="search" resultMap="UserTechAuthResultMap"
            parameterType="com.fulu.game.core.entity.vo.searchVO.UserTechAuthSearchVO">
        SELECT uta.* FROM t_user_tech_auth uta LEFT JOIN t_user u ON uta.user_id = u.id
        <where>
            <if test="mobile != null">
                and uta.mobile = #{mobile}
            </if>
            <if test="categoryId != null">
                and uta.category_id = #{categoryId}
            </if>
            <if test="nickname != null">
                and u.nickname like CONCAT('%',#{nickname},'%')
            </if>
            <if test="startTime != null">
                and uta.update_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and uta.update_time &lt;= #{endTime}
            </if>
        </where>
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_user_tech_auth
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.UserTechAuth">
        insert into
        t_user_tech_auth (category_id,user_id,category_name,mobile,grade_pic_url,description,status,create_time,update_time,approve_count)
        values
        (#{categoryId},#{userId},#{categoryName},#{mobile},#{gradePicUrl},#{description},#{status},#{createTime},#{updateTime},#{approveCount})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.UserTechAuth">
        update t_user_tech_auth
        <set>

            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="categoryName != null">
                category_name = #{categoryName},
            </if>

            <if test="mobile != null">
                mobile = #{mobile},
            </if>

            <if test="gradePicUrl != null">
                grade_pic_url = #{gradePicUrl},
            </if>

            <if test="description != null">
                description = #{description},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="approveCount != null">
                approve_count = #{approveCount},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>