<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.UserProfessionDao">
    <resultMap id="UserProfessionResultMap" type="com.fulu.game.core.entity.UserProfession">
                                    <id column="id"  property="id" />
                                            <result column="name"  property="name" />
                                            <result column="sort"  property="sort" />
                                            <result column="create_time"  property="createTime" />
                                            <result column="update_time"  property="updateTime" />
                                            <result column="is_del"  property="isDel" />
                        </resultMap>

    <resultMap id="UserProfessionResultVOMap" type="com.fulu.game.core.entity.vo.UserProfessionVO" extends="UserProfessionResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,name,sort,create_time,update_time,is_del    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="UserProfessionResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user_profession
        <where>
        id = #{id}
        </where>
    </select>

    <select id="findAll"  resultMap="UserProfessionResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user_profession
        where is_del = 0
    </select>

    <select id="findByParameter" resultMap="UserProfessionResultMap" parameterType="com.fulu.game.core.entity.vo.UserProfessionVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_profession
        <where>
                                                                            <if test="name != null">
                       and name = #{name}
                    </if>
                                                                <if test="sort != null">
                       and sort = #{sort}
                    </if>
                                                                <if test="createTime != null">
                       and create_time = #{createTime}
                    </if>
                                                                <if test="updateTime != null">
                       and update_time = #{updateTime}
                    </if>
                                                                <if test="isDel != null">
                       and is_del = #{isDel}
                    </if>
                                    </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_user_profession
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.UserProfession">
        insert into
        t_user_profession (name,sort,create_time,update_time,is_del)
        values
        (#{name},#{sort},#{createTime},#{updateTime},#{isDel})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.UserProfession">
        update t_user_profession
        <set>
                                                        
                    <if test="name != null">
                        name = #{name},
                    </if>
                                            
                    <if test="sort != null">
                        sort = #{sort},
                    </if>
                                            
                    <if test="createTime != null">
                        create_time = #{createTime},
                    </if>
                                            
                    <if test="updateTime != null">
                        update_time = #{updateTime},
                    </if>
                                            
                    <if test="isDel != null">
                        is_del = #{isDel},
                    </if>
                                    </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>