<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.UserInfoFileDao">
    <resultMap id="UserInfoFileResultMap" type="com.fulu.game.core.entity.UserInfoFile">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
        <result column="ext" property="ext"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="UserInfoFileResultVOMap" type="com.fulu.game.core.entity.vo.UserInfoFileVO"
               extends="UserInfoFileResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,name,user_id,type,url,ext,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="UserInfoFileResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_info_file
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="UserInfoFileResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_info_file
    </select>

    <select id="findByParameter" resultMap="UserInfoFileResultMap"
            parameterType="com.fulu.game.core.entity.vo.UserInfoFileVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_info_file
        <where>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="url != null">
                and url = #{url}
            </if>
            <if test="ext != null">
                and ext = #{ext}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_user_info_file
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.UserInfoFile">
        insert into
        t_user_info_file (name,user_id,type,url,ext,create_time,update_time)
        values
        (#{name},#{userId},#{type},#{url},#{ext},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.UserInfoFile">
        update t_user_info_file
        <set>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="type != null">
                type = #{type},
            </if>

            <if test="url != null">
                url = #{url},
            </if>

            <if test="ext != null">
                ext = #{ext},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>