<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.VirtualDetailsDao">
    <resultMap id="VirtualDetailsResultMap" type="com.fulu.game.core.entity.VirtualDetails">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sum" property="sum"/>
        <result column="money" property="money"/>
        <result column="type" property="type"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="VirtualDetailsResultVOMap" type="com.fulu.game.core.entity.vo.VirtualDetailsVO"
               extends="VirtualDetailsResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,sum,money,type,remark,create_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="VirtualDetailsResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_details
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="VirtualDetailsResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_details
    </select>

    <select id="findByParameter" resultMap="VirtualDetailsResultMap"
            parameterType="com.fulu.game.core.entity.vo.VirtualDetailsVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_virtual_details
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="sum != null">
                and sum = #{sum}
            </if>
            <if test="money != null">
                and money = #{money}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_virtual_details
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.fulu.game.core.entity.VirtualDetails">
        insert into
        t_virtual_details (user_id,sum,money,type,remark,create_time)
        values
        (#{userId},#{sum},#{money},#{type},#{remark},#{createTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.VirtualDetails">
        update t_virtual_details
        <set>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="sum != null">
                sum = #{sum},
            </if>

            <if test="money != null">
                money = #{money},
            </if>

            <if test="type != null">
                type = #{type},
            </if>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>