<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.VirtualProductOrderDao">
    <resultMap id="VirtualProductOrderResultMap" type="com.fulu.game.core.entity.VirtualProductOrder">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="virtual_product_id" property="virtualProductId"/>
        <result column="price" property="price"/>
        <result column="amount" property="amount"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="from_user_id" property="fromUserId"/>
        <result column="target_user_id" property="targetUserId"/>
        <result column="remark" property="remark"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="VirtualProductOrderResultVOMap" type="com.fulu.game.core.entity.vo.VirtualProductOrderVO"
               extends="VirtualProductOrderResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,virtual_product_id,price,amount,unit_price,from_user_id,target_user_id,remark,update_time,create_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="VirtualProductOrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_product_order
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="VirtualProductOrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_product_order
    </select>

    <select id="findByParameter" resultMap="VirtualProductOrderResultMap"
            parameterType="com.fulu.game.core.entity.vo.VirtualProductOrderVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_virtual_product_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="virtualProductId != null">
                and virtual_product_id = #{virtualProductId}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="amount != null">
                and amount = #{amount}
            </if>
            <if test="unitPrice != null">
                and unit_price = #{unitPrice}
            </if>
            <if test="fromUserId != null">
                and from_user_id = #{fromUserId}
            </if>
            <if test="targetUserId != null">
                and target_user_id = #{targetUserId}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_virtual_product_order
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.fulu.game.core.entity.VirtualProductOrder">
        insert into
        t_virtual_product_order (order_no,virtual_product_id,price,amount,unit_price,from_user_id,target_user_id,remark,update_time,create_time)
        values
        (#{orderNo},#{virtualProductId},#{price},#{amount},#{unitPrice},#{fromUserId},#{targetUserId},#{remark},#{updateTime},#{createTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.VirtualProductOrder">
        update t_virtual_product_order
        <set>

            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>

            <if test="virtualProductId != null">
                virtual_product_id = #{virtualProductId},
            </if>

            <if test="price != null">
                price = #{price},
            </if>

            <if test="amount != null">
                amount = #{amount},
            </if>

            <if test="unitPrice != null">
                unit_price = #{unitPrice},
            </if>

            <if test="fromUserId != null">
                from_user_id = #{fromUserId},
            </if>

            <if test="targetUserId != null">
                target_user_id = #{targetUserId},
            </if>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findByOrderNo" resultType="com.fulu.game.core.entity.VirtualProductOrder">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_product_order
        <where>
            order_no = #{orderNo} for update
        </where>
    </select>
</mapper>