<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.VirtualPayOrderDao">
    <resultMap id="VirtualPayOrderResultMap" type="com.fulu.game.core.entity.VirtualPayOrder">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="name" property="name"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="payment" property="payment"/>
        <result column="pay_path" property="payPath"/>
        <result column="actual_money" property="actualMoney"/>
        <result column="virtual_money" property="virtualMoney"/>
        <result column="money" property="money"/>
        <result column="order_ip" property="orderIp"/>
        <result column="is_pay_callback" property="isPayCallback"/>
        <result column="pay_time" property="payTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="VirtualPayOrderResultVOMap" type="com.fulu.game.core.entity.vo.VirtualPayOrderVO"
               extends="VirtualPayOrderResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,name,user_id,type,payment,pay_path,actual_money,virtual_money,money,order_ip,is_pay_callback,pay_time,update_time,create_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="VirtualPayOrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_pay_order
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="VirtualPayOrderResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_pay_order
    </select>

    <select id="findByParameter" resultMap="VirtualPayOrderResultMap"
            parameterType="com.fulu.game.core.entity.vo.VirtualPayOrderVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_virtual_pay_order
        <where>
            <if test="orderNo != null">
                and order_no = #{orderNo}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="payment != null">
                and payment = #{payment}
            </if>
            <if test="payPath != null">
                and pay_path = #{payPath}
            </if>
            <if test="actualMoney != null">
                and actual_money = #{actualMoney}
            </if>
            <if test="virtualMoney != null">
                and virtual_money = #{virtualMoney}
            </if>
            <if test="money != null">
                and money = #{money}
            </if>
            <if test="orderIp != null">
                and order_ip = #{orderIp}
            </if>
            <if test="isPayCallback != null">
                and is_pay_callback = #{isPayCallback}
            </if>
            <if test="payTime != null">
                and pay_time = #{payTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <select id="findByOrderNo" resultType="com.fulu.game.core.entity.VirtualPayOrder">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_pay_order
        <where>
            order_no = #{orderNo} for update
        </where>
    </select>

    <select id="chargeList" resultType="com.fulu.game.core.entity.vo.VirtualPayOrderVO">
        SELECT
        vpo.*,
        `user`.nickname,
        `user`.mobile
        FROM
        t_virtual_pay_order vpo
        LEFT JOIN t_user USER ON vpo.user_id = `user`.id
        WHERE
        vpo.type = #{type}
        AND vpo.is_pay_callback = 1
        <if test="userId != null">
            AND vpo.user_id = #{userId}
        </if>
        <if test="mobile != null">
            AND USER .mobile = #{mobile}
        </if>
        <if test="nickname != null">
            AND USER .nickname = #{nickname}
        </if>
        <if test="payPath != null">
            AND vpo.pay_path = #{payPath}
        </if>
        <if test="payStartTime != null">
            AND vpo.pay_time &gt;= #{payStartTime}
        </if>
        <if test="payEndTime != null">
            AND vpo.pay_time &gt;= #{payEndTime}
        </if>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_virtual_pay_order
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.fulu.game.core.entity.VirtualPayOrder">
        insert into
        t_virtual_pay_order (order_no,name,user_id,type,payment,pay_path,actual_money,virtual_money,money,order_ip,is_pay_callback,pay_time,update_time,create_time)
        values
        (#{orderNo},#{name},#{userId},#{type},#{payment},#{payPath},#{actualMoney},#{virtualMoney},#{money},#{orderIp},#{isPayCallback},#{payTime},#{updateTime},#{createTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.VirtualPayOrder">
        update t_virtual_pay_order
        <set>

            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>

            <if test="name != null">
                name = #{name},
            </if>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="type != null">
                type = #{type},
            </if>

            <if test="payment != null">
                payment = #{payment},
            </if>

            <if test="payPath != null">
                pay_path = #{payPath},
            </if>

            <if test="actualMoney != null">
                actual_money = #{actualMoney},
            </if>

            <if test="virtualMoney != null">
                virtual_money = #{virtualMoney},
            </if>

            <if test="money != null">
                money = #{money},
            </if>

            <if test="orderIp != null">
                order_ip = #{orderIp},
            </if>

            <if test="isPayCallback != null">
                is_pay_callback = #{isPayCallback},
            </if>

            <if test="payTime != null">
                pay_time = #{payTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>