<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.VirtualProductAttachDao">
    <resultMap id="VirtualProductAttachResultMap" type="com.fulu.game.core.entity.VirtualProductAttach">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="virtual_product_id" property="virtualProductId"/>
        <result column="url" property="url"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="VirtualProductAttachResultVOMap" type="com.fulu.game.core.entity.vo.VirtualProductAttachVO"
               extends="VirtualProductAttachResultMap">
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="attach_count" property="attachCount"/>
        <result column="object_url" property="objectUrl"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,virtual_product_id,url,create_time,update_time    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="VirtualProductAttachResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_product_attach
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="VirtualProductAttachResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_virtual_product_attach
    </select>

    <select id="findByParameter" resultMap="VirtualProductAttachResultMap"
            parameterType="com.fulu.game.core.entity.vo.VirtualProductAttachVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_virtual_product_attach
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="virtualProductId != null">
                and virtual_product_id = #{virtualProductId}
            </if>
            <if test="url != null">
                and url = #{url}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        <if test="orderby != null">
            ${orderby}
        </if>
    </select>

    <select id="findByOrderProIdUserId" resultMap="VirtualProductAttachResultVOMap">
        SELECT
            t1.*,t3.type
        FROM
            t_virtual_product_attach t1
        INNER JOIN t_virtual_product_order t2 ON t2.virtual_product_id = t1.virtual_product_id
        INNER JOIN t_virtual_product t3 ON t3.id = t2.virtual_product_id and t3.del_flag = 0
        AND t2.target_user_id = #{userId}
        AND t2.virtual_product_id = #{productId}
        ORDER BY
            t1.id
    </select>

    <select id="findDetailByVo" resultMap="VirtualProductAttachResultVOMap" parameterType="com.fulu.game.core.entity.vo.VirtualProductAttachVO">
        SELECT
            t1.*,
            t2.name,
            t2.price,
            t2.type,
            t2.sort,
            t2.attach_count,
            t2.object_url
        FROM
            t_virtual_product_attach t1
        INNER JOIN t_virtual_product t2 ON t1.virtual_product_id = t2.id
        <where>
            <if test="delFlag != null">
                and t2.del_flag = #{delFlag}
            </if>
            <if test="type != null">
                and t2.type = #{type}
            </if>
            <if test="userId != null">
                and t1.user_id = #{userId}
            </if>
        </where>
        order by t2.id
    </select>
    

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_virtual_product_attach
        <where>
            id = #{id}
        </where>
    </delete>

    <delete id="deleteByVirtualProductId" parameterType="java.lang.Integer">
        delete from t_virtual_product_attach
        <where>
            virtual_product_id = #{virtualProductId}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.fulu.game.core.entity.VirtualProductAttach">
        insert into
        t_virtual_product_attach (user_id,virtual_product_id,url,create_time,update_time)
        values
        (#{userId},#{virtualProductId},#{url},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.VirtualProductAttach">
        update t_virtual_product_attach
        <set>

            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="virtualProductId != null">
                virtual_product_id = #{virtualProductId},
            </if>

            <if test="url != null">
                url = #{url},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>