<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fulu.game.core.dao.WechatFormidDao">
    <resultMap id="WechatFormidResultMap" type="com.fulu.game.core.entity.WechatFormid">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="form_id" property="formId"/>
        <result column="open_id" property="openId"/>
        <result column="platform" property="platform"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="WechatFormidResultVOMap" type="com.fulu.game.core.entity.vo.WechatFormidVO" extends="WechatFormidResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,form_id,platform,open_id,create_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="WechatFormidResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_wechat_formid
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="WechatFormidResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_wechat_formid
    </select>

    <select id="findByUserIds" resultMap="WechatFormidResultVOMap">
        SELECT
        a.id,a.user_id,a.platform,a.form_id,a.open_id,a.create_time
        FROM
        (
            SELECT
            f.id,
            f.user_id,
            f.platform,
            f.open_id,
            f.form_id,
            f.create_time
            FROM
            t_wechat_formid f
            LEFT JOIN `t_user` u ON f.user_id = u.id
                <where>
                        f.`platform` = #{platform}
                    <if test="userIds == null">
                        and u.`status` = 1
                    </if>
                    <if test="userIds != null">
                        AND  f.`user_id` IN
                        <foreach collection="userIds" index="index" item="userId" open="(" separator="," close=")">
                            #{userId}
                        </foreach>
                    </if>
                </where>
            ORDER BY
            create_time ASC
        ) a
        GROUP BY a.user_id
        LIMIT #{offset},#{size}
    </select>


    <select id="findByParameter" resultMap="WechatFormidResultMap"
            parameterType="com.fulu.game.core.entity.vo.WechatFormidVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_wechat_formid
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="formId != null">
                and form_id = #{formId}
            </if>
            <if test="platform != null">
                and platform = #{platform}
            </if>
            <if test="openId != null">
                and open_id = #{openId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_wechat_formid
        <where>
            id = #{id}
        </where>
    </delete>

    <delete id="deleteFormIds" >
        delete from t_wechat_formid
        <where>
            form_id in
            <foreach collection="formIds" index="index" item="formId" open="(" separator="," close=")">
                #{formId}
            </foreach>
        </where>
    </delete>

    <delete id="deleteByExpireTime">
        delete from t_wechat_formid
        <where>
            create_time &lt;= #{expireTime}
        </where>
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.fulu.game.core.entity.WechatFormid">
        insert into
        t_wechat_formid (user_id,form_id,platform,open_id,create_time)
        values
        (#{userId},#{formId},#{platform},#{openId},#{createTime})
    </insert>

    <update id="update" parameterType="com.fulu.game.core.entity.WechatFormid">
        update t_wechat_formid
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="formId != null">
                form_id = #{formId},
            </if>
            <if test="openId != null">
                open_id = #{openId},
            </if>
            <if test="platform != null">
                platform = #{platform},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>