<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
</head>
<body>

<form action="/login" method="post">
    <p>账号：<input type="text" id="username" name="username" value="admin"/></p>
    <p>密码：<input type="text" id="password" name="password" value="123456"/></p>
    <p><input id="login" type="button" value="登录"/></p>
</form>
</body>
</html>

<script>

    $("#login").click(function(){
        var c= ["a","b"];
        $.ajax({
            url: "http://10.0.2.47:8083/api/v1/order/user/consult",
            type: "POST",
            beforeSend: function(request) {
                request.setRequestHeader("token", "d1b5ac5066bc4e21a378bbde2e685886");
            },
            data: {fileUrl:JSON.stringify(c),orderNo:"dd"},
            dataType: "json",
            success: function (result) {
                console.log(result)
            },
            error: function (msg) {

            }
        })

    })



</script>